@font-face {
	font-family: 'journal-icons';
	src:url('fonts/journal-icons.eot?cg7x9q');
	src:url('fonts/journal-icons.eot?#iefixcg7x9q') format('embedded-opentype'),
		url('fonts/journal-icons.woff?cg7x9q') format('woff'),
		url('fonts/journal-icons.ttf?cg7x9q') format('truetype'),
		url('fonts/journal-icons.svg?cg7x9q#journal-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before, [class^="icon-"], [class*=" icon-"] {
    font-family: 'journal-icons';
    content: attr(data-icon);
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-icon0:before {
	content: "\e000";
}
.icon-uniE001:before {
	content: "\e001";
}
.icon-cart:before {
	content: "\e17f";
}
.icon-cart2:before {
	content: "\e180";
}
.icon-home3:before {
	content: "\e14f";
}
.icon-home2:before {
	content: "\e01b";
}
.icon-user3:before {
	content: "\e1b8";
}
.icon-zoom-in2:before {
	content: "\e015";
}
.icon-zoom-out:before {
	content: "\e016";
}
.icon-off:before {
	content: "\e017";
}
.icon-trash:before {
	content: "\e01a";
}
.icon-upload:before {
	content: "\e021";
}
.icon-play-circle:before {
	content: "\e023";
}
.icon-refresh:before {
	content: "\e025";
}
.icon-share:before {
	content: "\e036";
}
.icon-minus-sign:before {
	content: "\e046";
}
.icon-plus:before {
	content: "\e056";
}
.icon-exclamation-sign2:before {
	content: "\e059";
}
.icon-warning-sign:before {
	content: "\e05f";
}
.icon-plane:before {
	content: "\e060";
}
.icon-pushpin:before {
	content: "\e07a";
}
.icon-signout:before {
	content: "\e078";
}
.icon-external-link:before {
	content: "\e07b";
}
.icon-signin:before {
	content: "\e07c";
}
.icon-trophy2:before {
	content: "\e07d";
}
.icon-phone-sign:before {
	content: "\e084";
}
.icon-bell:before {
	content: "\e08d";
}
.icon-certificate:before {
	content: "\e08e";
}
.icon-circle-arrow-left2:before {
	content: "\e093";
}
.icon-circle-arrow-right2:before {
	content: "\e094";
}
.icon-circle-arrow-up2:before {
	content: "\e095";
}
.icon-circle-arrow-down2:before {
	content: "\e096";
}
.icon-truck3:before {
	content: "\e0ad";
}
.icon-pinterest-sign:before {
	content: "\e0af";
}
.icon-google-plus-sign:before {
	content: "\e0b0";
}
.icon-money:before {
	content: "\e0b2";
}
.icon-undo3:before {
	content: "\e0bd";
}
.icon-lightbulb:before {
	content: "\e0c6";
}
.icon-laptop:before {
	content: "\e197";
}
.icon-mobile:before {
	content: "\e198";
}
.icon-mobile2:before {
	content: "\e199";
}
.icon-tablet:before {
	content: "\e19a";
}
.icon-bubble2:before {
	content: "\e1ae";
}
.icon-bubbles3:before {
	content: "\e1af";
}
.icon-bubbles4:before {
	content: "\e1b0";
}
.icon-busy:before {
	content: "\e1bb";
}
.icon-binoculars:before {
	content: "\e1c2";
}
.icon-gift:before {
	content: "\e1dd";
}
.icon-trophy3:before {
	content: "\e1de";
}
.icon-fire:before {
	content: "\e1e8";
}
.icon-user:before {
	content: "\e1b4";
}
.icon-users:before {
	content: "\e1b5";
}
.icon-plus-sign:before {
	content: "\e045";
}
.icon-check:before {
	content: "\e037";
}
.icon-cart3:before {
	content: "\e17e";
}
.icon-myFont:before {
	content: "\e699";
}
.icon-myFont2:before {
	content: "\e69b";
}
.icon-date:before {
	content: "\e6b3";
}
.icon-uniF010:before {
	content: "\e609";
}
.icon-ampersand:before {
	content: "\e60d";
}
.icon-location:before {
	content: "\e61a";
}
.icon-play:before {
	content: "\e61d";
}
.icon-play2:before {
	content: "\e61e";
}
.icon-play3:before {
	content: "\e61f";
}
.icon-play4:before {
	content: "\e620";
}
.icon-code:before {
	content: "\e676";
}
.icon-route:before {
	content: "\e60b";
}
.icon-island:before {
	content: "\e60c";
}
.icon-fedora:before {
	content: "\e613";
}
.icon-uniF014:before {
	content: "\e614";
}
.icon-phone3:before {
	content: "\e623";
}
.icon-diamond:before {
	content: "\e624";
}
.icon-redo:before {
	content: "\e64a";
}
.icon-forward:before {
	content: "\e64b";
}
.icon-reply:before {
	content: "\e64c";
}
.icon-list:before {
	content: "\e652";
}
.icon-menu:before {
	content: "\e653";
}
.icon-list2:before {
	content: "\e654";
}
.icon-leaf:before {
	content: "\e656";
}
.icon-shield:before {
	content: "\e657";
}
.icon-truck2:before {
	content: "\e658";
}
.icon-airplane:before {
	content: "\e659";
}
.icon-earth:before {
	content: "\e65a";
}
.icon-flag:before {
	content: "\e65b";
}
.icon-star2:before {
	content: "\e65c";
}
.icon-star4:before {
	content: "\e65e";
}
.icon-bookmark:before {
	content: "\e65f";
}
.icon-eye:before {
	content: "\e660";
}
.icon-eye2:before {
	content: "\e661";
}
.icon-heart2:before {
	content: "\e662";
}
.icon-heart3:before {
	content: "\e663";
}
.icon-heart-broken:before {
	content: "\e664";
}
.icon-thumbs-up:before {
	content: "\e665";
}
.icon-thumbs-up2:before {
	content: "\e666";
}
.icon-smiley:before {
	content: "\e667";
}
.icon-sad:before {
	content: "\e668";
}
.icon-happy:before {
	content: "\e66d";
}
.icon-android:before {
	content: "\e677";
}
.icon-windows8:before {
	content: "\e678";
}
.icon-linkedin:before {
	content: "\e622";
}
.icon-skype:before {
	content: "\e67a";
}
.icon-yahoo:before {
	content: "\e67c";
}
.icon-tumblr:before {
	content: "\e67d";
}
.icon-flickr:before {
	content: "\e67e";
}
.icon-vimeo2:before {
	content: "\e67f";
}
.icon-facebook2:before {
	content: "\e680";
}
.icon-twitter2:before {
	content: "\e681";
}
.icon-twitter3:before {
	content: "\e682";
}
.icon-facebook3:before {
	content: "\e683";
}
.icon-undo2:before {
	content: "\e649";
}
.icon-lightning:before {
	content: "\e621";
}
.icon-power-cord:before {
	content: "\e626";
}
.icon-trophy:before {
	content: "\e645";
}
.icon-mug:before {
	content: "\e646";
}
.icon-link:before {
	content: "\e648";
}
.icon-apple:before {
	content: "\e651";
}
.icon-vimeo:before {
	content: "\e655";
}
.icon-instagram:before {
	content: "\e686";
}
.icon-home:before {
	content: "\e627";
}
.icon-opencart:before {
	content: "\e675";
}
.icon-phone2:before {
	content: "\e679";
}
.icon-images:before {
	content: "\e69e";
}
.icon-checkbox-checked:before {
	content: "\e69f";
}
.icon-office:before {
	content: "\e6a0";
}
.icon-library:before {
	content: "\e6a1";
}
.icon-home4:before {
	content: "\e6a2";
}
.icon-phone:before {
	content: "\e6a3";
}
.icon-camera:before {
	content: "\e6a4";
}
.icon-uniF61A:before {
	content: "\e6a5";
}
.icon-uniF4EA:before {
	content: "\e6a6";
}
.icon-envelope:before {
	content: "\e67b";
}
.icon-repeat:before {
	content: "\e024";
}
.icon-locked:before {
	content: "\e684";
}
.icon-unlocked:before {
	content: "\e687";
}
.icon-umbrella:before {
	content: "\e688";
}
.icon-myFont3:before {
	content: "\e69a";
}
.icon-grid:before {
	content: "\e689";
}
.icon-list3:before {
	content: "\e68c";
}
.icon-glass:before {
	content: "\e61c";
}
.icon-music:before {
	content: "\e61b";
}
.icon-print:before {
	content: "\e625";
}
.icon-reorder:before {
	content: "\e618";
}
.icon-chevron-sign-down:before {
	content: "\e617";
}
.icon-chevron-sign-right:before {
	content: "\e606";
}
.icon-chevron-sign-left:before {
	content: "\e615";
}
.icon-camera2:before {
	content: "\e605";
}
.icon-download:before {
	content: "\e604";
}
.icon-ok:before {
	content: "\e603";
}
.icon-remove:before {
	content: "\e602";
}
.icon-remove-sign:before {
	content: "\e601";
}
.icon-ok-circle:before {
	content: "\e600";
}
.icon-chevron-sign-up:before {
	content: "\e616";
}
.icon-ok-sign:before {
	content: "\e607";
}
.icon-zoom-in:before {
	content: "\e60a";
}
.icon-arrow-left:before {
	content: "\e610";
}
.icon-arrow-right:before {
	content: "\e608";
}
.icon-chevron-right:before {
	content: "\e60e";
}
.icon-chevron-left:before {
	content: "\e60f";
}
.icon-chevron-up:before {
	content: "\e611";
}
.icon-chevron-down:before {
	content: "\e612";
}
.icon-align-justify:before {
	content: "\e640";
}
.icon-dropbox:before {
	content: "\e641";
}
.icon-youtube:before {
	content: "\e642";
}
.icon-circle:before {
	content: "\e643";
}
.icon-list-ul:before {
	content: "\e633";
}
.icon-google-plus:before {
	content: "\e635";
}
.icon-undo:before {
	content: "\e636";
}
.icon-desktop:before {
	content: "\e637";
}
.icon-medkit:before {
	content: "\e638";
}
.icon-exchange:before {
	content: "\e639";
}
.icon-user-md:before {
	content: "\e63a";
}
.icon-stethoscope:before {
	content: "\e63b";
}
.icon-suitcase:before {
	content: "\e63c";
}
.icon-food:before {
	content: "\e63d";
}
.icon-coffee:before {
	content: "\e63e";
}
.icon-html5:before {
	content: "\e63f";
}
.icon-cog2:before {
	content: "\e628";
}
.icon-pencil:before {
	content: "\e629";
}
.icon-map-marker:before {
	content: "\e619";
}
.icon-question-sign:before {
	content: "\e62a";
}
.icon-retweet:before {
	content: "\e68d";
}
.icon-random:before {
	content: "\e68e";
}
.icon-cogs:before {
	content: "\e68f";
}
.icon-credit:before {
	content: "\e690";
}
.icon-gamepad:before {
	content: "\e692";
}
.icon-keyboard:before {
	content: "\e693";
}
.icon-location-arrow:before {
	content: "\e694";
}
.icon-phone4:before {
	content: "\e695";
}
.icon-microphone:before {
	content: "\e696";
}
.icon-search:before {
	content: "\e697";
}
.icon-envelope2:before {
	content: "\e698";
}
.icon-angle-left:before {
	content: "\e62b";
}
.icon-angle-right:before {
	content: "\e62c";
}
.icon-angle-up:before {
	content: "\e62d";
}
.icon-angle-down:before {
	content: "\e62e";
}
.icon-edit-sign:before {
	content: "\e62f";
}
.icon-check-sign:before {
	content: "\e630";
}
.icon-shield2:before {
	content: "\e631";
}
.icon-bitcoin:before {
	content: "\e632";
}
.icon-won:before {
	content: "\e634";
}
.icon-renminbi:before {
	content: "\e644";
}
.icon-yen:before {
	content: "\e647";
}
.icon-rupee:before {
	content: "\e64d";
}
.icon-dollar:before {
	content: "\e64e";
}
.icon-gbp:before {
	content: "\e64f";
}
.icon-euro:before {
	content: "\e650";
}
.icon-gittip:before {
	content: "\e65d";
}
.icon-sun:before {
	content: "\e669";
}
.icon-moon:before {
	content: "\e66a";
}
.icon-bug:before {
	content: "\e66b";
}
.icon-level-up:before {
	content: "\e66c";
}
.icon-level-down:before {
	content: "\e66e";
}
.icon-anchor:before {
	content: "\e66f";
}
.icon-unlock-alt:before {
	content: "\e670";
}
.icon-lock:before {
	content: "\e671";
}
.icon-flag2:before {
	content: "\e672";
}
.icon-archive:before {
	content: "\e673";
}
.icon-bitbucket:before {
	content: "\e674";
}
.icon-adn:before {
	content: "\e685";
}
.icon-folder-close:before {
	content: "\e68a";
}
.icon-plus-sign2:before {
	content: "\e68b";
}
.icon-minus-sign2:before {
	content: "\e691";
}
.icon-picture:before {
	content: "\e69c";
}
.icon-double-angle-left:before {
	content: "\e69d";
}
.icon-double-angle-right:before {
	content: "\e6a8";
}
.icon-double-angle-up:before {
	content: "\e6a9";
}
.icon-double-angle-down:before {
	content: "\e6aa";
}
.icon-caret-down:before {
	content: "\e6ab";
}
.icon-caret-up:before {
	content: "\e6ac";
}
.icon-caret-left:before {
	content: "\e6ad";
}
.icon-caret-right:before {
	content: "\e6ae";
}
.icon-sort:before {
	content: "\e6af";
}
.icon-group:before {
	content: "\e6b0";
}
.icon-link2:before {
	content: "\e6b1";
}
.icon-file-text:before {
	content: "\e6b2";
}
.icon-settings:before {
	content: "\e6a7";
}
