<?php echo $header; ?><?php echo $column_left; ?><?php echo $column_right; ?>

<div id="content" class="container inner-cont"><?php echo $content_top; ?>

  <ul class="crumb">

    <?php foreach ($breadcrumbs as $breadcrumb) { ?>

    <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>

    <?php } ?>

  </ul>

  <h1 class="clrorg tittle"><?php echo $heading_title; ?></h1>
<div class="col-lg-6 row">
  <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data">

    <h2 class="tittle"><?php //echo $text_location; ?></h2>

    <div class="contact-info">

      <div class="content"><div class="contact-addr"><b><?php //echo $text_address; ?>Corporate Office</b><br />
      
      
      
 <div>      <br />    
CRONAZ INDUSTRIES,<br />

63/13, Arcot Road, <br />

Kodambakkam,Chennai – 600024,<br />

Tamilnadu, India <br />

Email: support@cronaz.com
 </div>
      

      <!--  <?php echo $store; ?><br />

        <?php echo $address; ?>--></div>

      <!--<div class="contact-addr">

        <?php if ($telephone) { ?>

        <b><?php echo $text_telephone; ?></b><br />

        <?php echo $telephone; ?><br />

        <br />

        <?php } ?>

        <?php if ($fax) { ?>

        <b><?php echo $text_fax; ?></b><br />

        <?php echo $fax; ?>

        <?php } ?>

      </div>
-->
    </div>

    </div>
    </div>
<div class="col-lg-6 row infocontact">
    <h2 class="tittle"><?php echo $text_contact; ?></h2>

    <div class="content">

    <big><?php echo $entry_name; ?></big><br />

    <input type="text" name="name" value="<?php echo $name; ?>" class="login col-lg-8" /><br />

    <br />

    <?php if ($error_name) { ?>

    <span class="error"><?php echo $error_name; ?></span>

    <?php } ?>

    <br />

    <b><?php echo $entry_email; ?></b><br />

    <input type="text" name="email" value="<?php echo $email; ?>" class="login col-lg-8" /><br />

    <br />

    <?php if ($error_email) { ?>

    <span class="error"><?php echo $error_email; ?></span>

    <?php } ?>

    <br />

    <big><?php echo $entry_enquiry; ?></big><br />

    <textarea name="enquiry" cols="40" rows="10" class="col-lg-8"><?php echo $enquiry; ?></textarea><br /><br /><br /><br /><br /><br /><br /><br /><br />

    <br />

    <?php if ($error_enquiry) { ?>

    <span class="error"><?php echo $error_enquiry; ?></span>

    <?php } ?>

    <br />

    <big><?php echo $entry_captcha; ?></big><br />

    <input type="text" name="captcha" value="<?php echo $captcha; ?>" class="login col-lg-8" /><br /><br />

    <br />

    <img src="index.php?route=information/contact/captcha" alt="" /><br /><br />

    <?php if ($error_captcha) { ?>

    <span class="error"><?php echo $error_captcha; ?></span>

    <?php } ?>

    </div>
    

    <div class="buttons mb28">

      <div class="right"><input type="submit" value="Submit" class="button" /></div>

    </div>

  </form>
  </div>

  <?php echo $content_bottom; ?></div>

<?php echo $footer; ?>