<?php echo $header; ?>

<?php echo $column_left; ?><?php echo $column_right; ?>
<div id="content" class="container mb48">
  <?php echo $content_top; ?>
  <ul class="crumb mb48">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
    <?php } ?>
  </ul>

  <div class="row">
    <div class="col-xs-12">
      <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data">
        <?php if ($attention) { ?>
        <div class="attention"><?php echo $attention; ?><img src="catalog/view/theme/default/image/close.png" alt="" class="close" /></div>
        <?php } ?>
        <?php if ($success) { ?>
        <div class="alert-success success  text-center"><?php echo $success; ?><img src="catalog/view/theme/default/image/close.png" alt="" class="close" /></div>
        <?php } ?>
        <?php if ($error_warning) { ?>
        <div class="alert-warning warning text-center"><?php echo $error_warning; ?><img src="catalog/view/theme/default/image/close.png" alt="" class="close" /></div>
        <?php } ?>
    </div>
  </div>

    <div class="row">
      <div class="col-xs-12">
        <h4 class="clrorg tittle cps" style="margin-top:10px;">Shopping Cart</h4>
      </div>
    </div>

  <div class="cart-info">
  <div class="table-responsive">
  <table class="table table-bordered">
  <thead>
  <tr>
  <td class="image fs14"><strong><?php echo $column_image; ?></strong></td>
  <td class="name fs14"><strong><?php echo $column_name; ?></strong></td>
  <td class="model fs14"><strong><?php echo $column_model; ?></strong></td>
  <td class="quantity fs14"><strong><?php echo $column_quantity; ?></strong></td>
  <td class="price fs14"><strong><?php echo $column_price; ?></strong></td>
  <td class="total fs14"><strong><?php echo $column_total; ?></strong></td>
  </tr>
  </thead>
  <tbody>
  <?php foreach ($products as $product) { ?>
  <?php if($product['recurring']): ?>
  <tr>
  <td colspan="6" style="border:none;"><image src="catalog/view/theme/default/image/reorder.png" alt="" title="" style="float:left;" /><span style="float:left;line-height:18px; margin-left:10px;"> 
  <strong><?php echo $text_recurring_item ?></strong>
  <?php echo $product['profile_description'] ?>
  </td>
  </tr>
  <?php endif; ?>
  <tr>
  <td class="image "><?php if ($product['thumb']) { ?>
  <a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" /></a>
  <?php } ?></td>
  <td class="name "><a href="<?php echo $product['href']; ?>"><big class="product-name clrorg"><?php echo $product['name']; ?></big></a>
  <?php if (!$product['stock']) { ?>
  <span class="stock">***</span>
  <?php } ?>
  <div>
  <?php foreach ($product['option'] as $option) { ?>
  - <small><?php echo $option['name']; ?>: <?php echo $option['value']; ?></small><br />
  <?php } ?>
  <?php if($product['recurring']): ?>
  - <small><?php echo $text_payment_profile ?>: <?php echo $product['profile_name'] ?></small>
  <?php endif; ?>
  </div>
  <?php if ($product['reward']) { ?>
  <small><?php echo $product['reward']; ?></small>
  <?php } ?></td>
  <td class="model product-name"><?php echo $product['model']; ?></td>
  <td class="quantity "><input type="text" class="text-center" name="quantity[<?php echo $product['key']; ?>]" value="<?php echo $product['quantity']; ?>" size="1" />
  &nbsp;
  <input type="image" style="top: 3px; position: relative;" src="catalog/view/theme/default/image/update.png" alt="<?php echo $button_update; ?>" title="<?php echo $button_update; ?>" />
  &nbsp;<a href="<?php echo $product['remove']; ?>" style="top: 2px; position: relative;"><img style="margin-top: -7px;" src="catalog/view/theme/default/image/remove.png" alt="<?php echo $button_remove; ?>" title="<?php echo $button_remove; ?>" /></a></td>
  <td class="price "><span class="rupee">`</span>&nbsp;<?php echo  str_replace("Rs.","",$product['price']); ?></td>
  <td class="total "><span class="rupee">`</span>&nbsp;<?php echo  str_replace("Rs.","",$product['total']); ?></td>
  </tr>
  <?php } ?>
  <?php foreach ($vouchers as $vouchers) { ?>
  <tr>
  <td class="image"></td>
  <td class="name"><?php echo $vouchers['description']; ?></td>
  <td class="model"></td>
  <td class="quantity"><input class="text-center" type="text" name="" value="1" size="1" disabled="disabled" />
  &nbsp;<a href="<?php echo $vouchers['remove']; ?>"><img src="catalog/view/theme/default/image/remove.png" alt="<?php echo $button_remove; ?>" title="<?php echo $button_remove; ?>" /></a></td>
  <td class="price"><?php echo $vouchers['amount']; ?></td>
  <td class="total"><?php echo $vouchers['amount']; ?></td>
  </tr>
  <?php } ?>
  </tbody>
  </table>
  </div>
  </div>
  </form>
  <?php if ($coupon_status || $voucher_status || $reward_status || $shipping_status) { ?>
  <h2><?php //echo $text_next; ?></h2>

  <div class="content">
    <h4><strong><?php echo $text_next_choice; ?></strong></h4>
    <table class="radio">
      <?php if ($coupon_status) { ?>
      <tr>
        <td><?php if ($next == 'coupon') { ?>
          <input type="radio" name="next" value="coupon" id="use_coupon" checked="checked" />
          <?php } else { ?>
          <input type="radio" name="next" value="coupon" id="use_coupon" />
          <?php } ?>
          <label for="use_coupon"><?php echo $text_use_coupon; ?></label>
        </td>
      </tr>
      <?php } ?>
      <?php if ($voucher_status) { ?>
      <tr>
        <td><?php if ($next == 'voucher') { ?>
          <input type="radio" name="next" value="voucher" id="use_voucher" checked="checked" />
          <?php } else { ?>
          <input type="radio" name="next" value="voucher" id="use_voucher"  />
          <?php } ?>
          <label for="use_voucher"><?php echo $text_use_voucher; ?></label>
        </td>
      </tr>
      <?php } ?>
      <?php if ($reward_status) { ?>
      <tr>
        <td><?php if ($next == 'reward') { ?>
          <input type="radio" name="next" value="reward" id="use_reward" checked="checked" />
          <?php } else { ?>
          <input type="radio" name="next" value="reward" id="use_reward" />
          <?php } ?>
          <label for="use_reward"><?php echo $text_use_reward; ?></label>
        </td>
      </tr>
      <?php } ?>
      <?php if ($shipping_status) { ?>
      <!-- <tr>
        <td><?php if ($next == 'shipping') { ?>
          <input type="radio" name="next" value="shipping" id="shipping_estimate" checked="checked" />
          <?php } else { ?>
          <input type="radio" name="next" value="shipping" id="shipping_estimate" />
          <?php } ?>
          <label for="shipping_estimate"><?php echo $text_shipping_estimate; ?></label></td>
        </tr>-->
      <?php } ?>
    </table>
  </div>

  <div class="cart-module row">
    <div id="coupon" class="content col-md-4" style="display: <?php echo ($next == 'coupon' ? 'block' : 'none'); ?>;">
      <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data">
        <p class="pl8"><?php echo $entry_coupon; ?></p>
        <input type="text" name="coupon" value="<?php echo $coupon; ?>" class="login" style="margin-left:8px;"/>
        <input type="hidden" name="next" value="coupon" />
        &nbsp;
        <input type="submit" value="<?php echo $button_coupon; ?>" class="button continue-btn mt10" />
      </form>
    </div>
    <div id="voucher" class="content col-md-4" style="display: <?php echo ($next == 'voucher' ? 'block' : 'none'); ?>;">
      <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data">
        <p class="pl8"><?php echo $entry_voucher; ?></p>
        <input type="text" name="voucher" value="<?php echo $voucher; ?>" class="login" style="margin-left:8px;" />
        <input type="hidden" name="next" value="voucher" />
        &nbsp;
        <input type="submit" value="<?php echo $button_voucher; ?>" class="button continue-btn mt10" />
      </form>
    </div>
    <div id="reward" class="content col-md-4" style="display: <?php echo ($next == 'reward' ? 'block' : 'none'); ?>;">
      <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data">
        <big><?php echo $entry_reward; ?></big>&nbsp;
        <input type="text" name="reward" value="<?php echo $reward; ?>" class="login" style="margin-left:8px;"/>
        <input type="hidden" name="next" value="reward" />
        &nbsp;
        <input type="submit" value="<?php echo $button_reward; ?>" class="button continue-btn mt10" />
      </form>
    </div>
    <div id="shipping" class="content col-md-4" style="display: <?php echo ($next == 'shipping' ? 'block' : 'none'); ?>;">
      <p class="pl8"><?php echo $text_shipping_detail; ?></p>
      <table class="mb20">
        <tr>
          <td><span class="required">*</span> <big><?php echo $entry_country; ?></big></td>
          <td>
            <select name="country_id" class="login">
              <option value=""><?php echo $text_select; ?></option>
              <?php foreach ($countries as $country) { ?>
              <?php if ($country['country_id'] == $country_id) { ?>
              <option value="<?php echo $country['country_id']; ?>" selected="selected"><?php echo $country['name']; ?></option>
              <?php } else { ?>
              <option value="<?php echo $country['country_id']; ?>"><?php echo $country['name']; ?></option>
              <?php } ?>
              <?php } ?>
            </select>
          </td>
        </tr>
        <tr>
          <td><span class="required">*</span> <big><?php echo $entry_zone; ?></big></td>
          <td><select name="zone_id" class="login">
            </select>
          </td>
        </tr>
        <tr>
          <td><span id="postcode-required" class="required">*</span> <?php echo $entry_postcode; ?></td>
          <td><input type="text" name="postcode" value="<?php echo $postcode; ?>" class="login" /></td>
        </tr>
      </table>
      <input type="button" value="<?php echo $button_quote; ?>" id="button-quote" class="button continue-btn ml130 mb20" />
    </div>
  </div>

  <?php } ?>
  <div class="cart-total">
    <table id="total" width="100%" bgcolor="#f4f4f4">
      <?php foreach ($totals as $total) { ?>
      <tr>
        <td class="text-right fs14"><?php echo $total['title']; ?>:&nbsp;&nbsp;&nbsp;
          <strong><span class="rupee">`</span>&nbsp;<?php echo str_replace("Rs.","",$total['text']) ?></strong>
        </td>
      </tr>
      <?php } ?>
    </table>
  </div>
  <div class="buttons mt25">
    <div class="pull-right"><a href="<?php echo $checkout; ?>" class="button continue-btn"><?php echo $button_checkout; ?></a></div>
    <div class="pull-left"><a href="<?php echo $continue; ?>" class="button continue-btn"><?php echo $button_shopping; ?></a></div>
  </div>
  <?php echo $content_bottom; ?>
</div>
<script type="text/javascript"><!--
  $('input[name=\'next\']').bind('change', function() {
    $('.cart-module > div').hide();
    
    $('#' + this.value).show();
  });
  //--></script>
<?php if ($shipping_status) { ?>
<script type="text/javascript"><!--
  $('#button-quote').live('click', function() {
    $.ajax({
      url: 'index.php?route=checkout/cart/quote',
      type: 'post',
      data: 'country_id=' + $('select[name=\'country_id\']').val() + '&zone_id=' + $('select[name=\'zone_id\']').val() + '&postcode=' + encodeURIComponent($('input[name=\'postcode\']').val()),
      dataType: 'json',   
      beforeSend: function() {
        $('#button-quote').attr('disabled', true);
        $('#button-quote').after('<span class="wait">&nbsp;<img src="catalog/view/theme/default/image/loading.gif" alt="" /></span>');
      },
      complete: function() {
        $('#button-quote').attr('disabled', false);
        $('.wait').remove();
      },    
      success: function(json) {
        $('.success, .warning, .attention, .error').remove();     
              
        if (json['error']) {
          if (json['error']['warning']) {
            $('#notification').html('<div class="alert-warning warning" style="display: none;">' + json['error']['warning'] + '<img src="catalog/view/theme/default/image/close.png" alt="" class="close" /></div>');
            
            $('.warning').fadeIn('slow');
            
            $('html, body').animate({ scrollTop: 0 }, 'slow'); 
          } 
                
          if (json['error']['country']) {
            $('select[name=\'country_id\']').after('<span class="error">' + json['error']['country'] + '</span>');
          } 
          
          if (json['error']['zone']) {
            $('select[name=\'zone_id\']').after('<span class="error">' + json['error']['zone'] + '</span>');
          }
          
          if (json['error']['postcode']) {
            $('input[name=\'postcode\']').after('<span class="error">' + json['error']['postcode'] + '</span>');
          }         
        }
        
        if (json['shipping_method']) {
          html  = '<h2><?php echo $text_shipping_method; ?></h2>';
          html += '<form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data">';
          html += '  <table class="radio">';
          
          for (i in json['shipping_method']) {
            html += '<tr>';
            html += '  <td colspan="3"><b>' + json['shipping_method'][i]['title'] + '</b></td>';
            html += '</tr>';
          
            if (!json['shipping_method'][i]['error']) {
              for (j in json['shipping_method'][i]['quote']) {
                html += '<tr class="highlight">';
                
                if (json['shipping_method'][i]['quote'][j]['code'] == '<?php echo $shipping_method; ?>') {
                  html += '<td><input type="radio" name="shipping_method" value="' + json['shipping_method'][i]['quote'][j]['code'] + '" id="' + json['shipping_method'][i]['quote'][j]['code'] + '" checked="checked" /></td>';
                } else {
                  html += '<td><input type="radio" name="shipping_method" value="' + json['shipping_method'][i]['quote'][j]['code'] + '" id="' + json['shipping_method'][i]['quote'][j]['code'] + '" /></td>';
                }
                  
                html += '  <td><label for="' + json['shipping_method'][i]['quote'][j]['code'] + '">' + json['shipping_method'][i]['quote'][j]['title'] + '</label></td>';
                html += '  <td style="text-align: right;"><label for="' + json['shipping_method'][i]['quote'][j]['code'] + '">' + json['shipping_method'][i]['quote'][j]['text'] + '</label></td>';
                html += '</tr>';
              }   
            } else {
              html += '<tr>';
              html += '  <td colspan="3"><div class="error">' + json['shipping_method'][i]['error'] + '</div></td>';
              html += '</tr>';            
            }
          }
          
          html += '  </table>';
          html += '  <br />';
          html += '  <input type="hidden" name="next" value="shipping" />';
          
          <?php if ($shipping_method) { ?>
          html += '  <input type="submit" value="<?php echo $button_shipping; ?>" id="button-shipping" class="button" />';  
          <?php } else { ?>
          html += '  <input type="submit" value="<?php echo $button_shipping; ?>" id="button-shipping" class="button" disabled="disabled" />';  
          <?php } ?>
                
          html += '</form>';
          
          $.colorbox({
            overlayClose: true,
            opacity: 0.5,
            width: '600px',
            height: '400px',
            href: false,
            html: html
          });
          
          $('input[name=\'shipping_method\']').bind('change', function() {
            $('#button-shipping').attr('disabled', false);
          });
        }
      }
    });
  });
  //--></script> 
<script type="text/javascript"><!--
  $('select[name=\'country_id\']').bind('change', function() {
    $.ajax({
      url: 'index.php?route=checkout/cart/country&country_id=' + this.value,
      dataType: 'json',
      beforeSend: function() {
        $('select[name=\'country_id\']').after('<span class="wait">&nbsp;<img src="catalog/view/theme/default/image/loading.gif" alt="" /></span>');
      },
      complete: function() {
        $('.wait').remove();
      },      
      success: function(json) {
        if (json['postcode_required'] == '1') {
          $('#postcode-required').show();
        } else {
          $('#postcode-required').hide();
        }
        
        html = '<option value=""><?php echo $text_select; ?></option>';
        
        if (json['zone'] != '') {
          for (i = 0; i < json['zone'].length; i++) {
                html += '<option value="' + json['zone'][i]['zone_id'] + '"';
              
            if (json['zone'][i]['zone_id'] == '<?php echo $zone_id; ?>') {
                  html += ' selected="selected"';
              }
    
              html += '>' + json['zone'][i]['name'] + '</option>';
          }
        } else {
          html += '<option value="0" selected="selected"><?php echo $text_none; ?></option>';
        }
        
        $('select[name=\'zone_id\']').html(html);
      },
      error: function(xhr, ajaxOptions, thrownError) {
        alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
      }
    });
  });
  
  $('select[name=\'country_id\']').trigger('change');
  //--></script>
<?php } ?>
<?php echo $footer; ?>

