@import 'variables.scss';

/******************************
 SHOPPING CART
*******************************/

.cart-info {
  .stock{
    color: red;
  }
  .name{
    max-width: 400px;
    text-align: left;
    a{
      font-weight: bold;
    }
  }
  .image{
    text-align: center;
    width: 60px;
    img{
      margin: 5px 0;
      float: left;
      margin-left: 10px;
    }
  }
  .quantity{
    min-width: 110px;
    text-align: center;
    .input-group{
      display: inline-block;
      input{
        margin-right: 5px;
        border-radius: 4px;
      }
      .btn-primary{
        background-color: $blue;
        &:hover{
          background-color: darken($blue, 10%);
        }
      }
      .btn-danger{
        background-color: $red;
        &:hover{
          background-color: darken($red, 10%);
        }
      }
    }
  }
  .price, .total{
    font-weight: bold;
  }
  table{
    overflow: hidden;
  }
  td {
    padding: 5px 10px 5px 5px;
    text-align: center;
  }

  thead td {
    height: $j-min;
    font-weight: bold;
    border-bottom: none;
    font-size: 13px;
  }
  tbody {
    td{
      border-bottom-style:solid;
      border-bottom-width:1px;
      border-bottom-color:$e4;
    }
    td.image{
      padding-left: 0;
    }
    tr:last-of-type td{
      border-bottom: none;
    }
  }
}

#content.sc-page{
  .content p, .action-area p{
    padding: 10px;
    font-size: 13px;
  }
  .content{
    table.radio {
      .highlight td {
        border-bottom: 1px solid $e4;
      }
      .highlight:last-of-type td{
        border-bottom: none;
      }
    }
  }
  a + .text-danger{
    color: $red;
    background-color: transparent;
  }
}

.cart-module > div {
  display: none;

  form{
    padding-left: 10px;

    input[type='text']{
      max-width: 240px;
      margin: 20px 0;
    }
  }
  input[name='postcode'] {
    width: 100px;
    margin-left: 6px;
    margin-top: 5px;
  }
}

#shipping{
  table{
    padding: 10px 0;
    width: 45%;

    td:first-of-type{
      font-weight: bold;
    }
  }
  select{
    width: 150px;
  }
  .button{
    margin: 10px 0;
  }
}

.cart-total {
  overflow: auto;
  padding: 8px;
  table {
    float: right;
  }
  td {
    padding: 4px;
    text-align: right;
  }
}

label {
  line-height: 1.5;
  font-size: 13px;
  position: relative;
}

#total .right {
  font-size: 14px;
  width: 87%;
  font-weight: bold;
}

.quantity input[type='text'] {
  width: $j-min;
  text-align: center;
}

.action-area{
  overflow: hidden;
  h3{
    padding: 10px 12px;
  }
}

.oc2{
  .action-area{
    .panel-group{
      margin-bottom: 0;
    }
    .panel-body{
      label{
        display: inline-block;
        margin-bottom: 5px;
      }
      .input-group{
        input[type="text"]{
          min-width: 300px;
        }
        .button{
          margin-left: 5px;
        }
      }
    }
    .form-group{
      clear: both;
      margin-top: 10px;
      label{
        min-width: 150px;
        float: left;
        margin-bottom: 0;
      }
      input[type="text"]{
        max-width: 160px;
      }
    }
  }
  .checkout-content{
    background-color: transparent;
    padding: 0;
    display: block;
    .right{
      .form-group{
        margin-bottom: 8px;
      }
    }
    p, .radio{
      padding: 10px 0 0 0;
    }
  }
}

.order-list{
  .list{
    td{
      text-align: center;
    }
  }
}
/******************************
 CHECKOUT PAGE
*******************************/

.checkout {
  margin-bottom: 20px;
  overflow: hidden;
  select{
    margin:0;
  }
  div:last-of-type{
    .checkout-heading{
      border-bottom: none;
    }
  }
}

.checkout-heading {
  border-bottom: 1px solid $dark;
  font-size: 13px;
  min-height: 35px;
  padding: 10px;
  clear: both;
}

.checkout-heading a {
  float: right;
  margin-top: 1px;
  font-weight: normal;
  text-decoration: none;
}

.checkout-content {
  padding: 0 0 15px 0;
  display: none;
  position: relative;
  &:after{
    content: "";
    display: table;
    clear: both;
  }
  p{
    padding: 10px 0;
  }

  .left {
    float: left;
    width: 48%;
  }

  .right {
    float: right;
    width: 48%;
  }

  .left {
    p:last-of-type{
      min-height: 92px;
    }
  }

  .buttons{
    margin-bottom: 0;
    clear: both;
    .right{
      width:100%;
    }
  }
  textarea{
    width: 100% !important;
    margin-top: 15px;
  }
}

#payment-address h2{
  margin-bottom: 15px;
}

.checkout-product{
  .total {
    font-weight: bold;
  }
  td {
    padding: 15px;
  }
  thead td {
    font-weight: bold;
    padding: 13px;
  }
  .name,
  .model {
    text-align: left;
  }
  .quantity,
  .price,
  .total {
    text-align: right;
  }
  tbody td {
    border-bottom: 1px solid $f4;
  }
  tfoot td {
    text-align: right;
    padding: 6px 15px;
  }
}

.wait {
  position: absolute;
  padding-top: 12px;
  right: -10px;
  bottom: 30px;
}

.newsletter-page{
  table.form{
    padding-top: 0;
  }
}

.oc2{
  .oc-newsletter{
    .form-horizontal .form-group > label{
      width: auto;
      padding-top: 10px;
    }
    .form-horizontal .form-group .radio-inline{
      width: auto;
    }
    .form-horizontal .form-group label + div{
      float: none;
      padding-top: 0;
    }
  }
}

/******************************
 RETURNS
*******************************/

.returns{
  > h1 + p{
    margin-bottom: 15px;
  }
  form{
    h2, .content{
      margin-bottom: 15px;
    }
  }
  .left{
    float: none;
  }
  .buttons .left{
    float: left;
  }
}

@media only screen and (max-width: 980px) {
  .return-product > div{
    width: 100%;
    display: block;
    input{
      margin: 3px 0;
    }
  }
  .return-detail > div{
    width: 100%;
    display: block;
  }
  .return-reason{
    margin-bottom: 20px;
  }
}

/******************************
 SITEMAP
*******************************/

.sitemap-info {
  overflow: auto;
  padding-bottom: 20px;
  ul {
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      padding: 2px;
      margin-bottom: 1px;
      font-weight: bold;
    }
  }

  > div{
    float: left;
    width: 50%;
    padding-left: 7px;
    > ul{
      padding: 10px 0 5px 15px;
    }
    > ul > li {
      ul {
        margin-left: 7px;
        > li {
          a {
            font-weight: normal;
          }
        }
      }
      > ul li:before{
        font-size: 12px;
      }
    }
  }

  > div:first-of-type{
    padding-left: 0;
    padding-right: 10px;
  }
}


/******************************
BRANDS
*******************************/

.header-default-sticky, .header-slim-sticky{
  .manufacturer-list a[id]:before {
    content:"";
    display:block;
    height:120px;
    margin-top:-120px;
  }
}

.header-center-sticky{
  .manufacturer-list a[id]:before {
    content:"";
    display:block;
    height:150px;
    margin-top:-150px;
  }
}

.manufacturer-list:first-of-type{
  margin-top: 10px;
}

.manufacturer-list {
  overflow: auto;
  ul {
    float: left;
    width: 25%;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 10px;
  }
}

.manufacturer-heading {
  background: $gray;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 8px;
  margin-bottom: 6px;
}

.manufacturer-content {
  padding: 8px;
}

.manufacturer-list ul {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 10px;
}


/******************************
 CONTACT PAGE
*******************************/

.contact-page {
  h2{
    margin-bottom: 15px;
  }
  .buttons{
    margin-top: 15px;
  }
  .content{
    b{
      margin-bottom: 5px;
      display: inline-block;
    }
  }
}

.contact-info {
  overflow: auto;
}

.contact-info > div > div {
  float: left;
  width: 48%;
  margin-bottom: 10px;
}

.oc2{
  .contact-page{
    h2{
      margin-bottom: 15px;
    }
    .fa{
      top: -1px;
      font-size: 16px;
    }
    .col{
      float: left;
      width: 25%;
      padding-left: 15px;
      strong{
        display:inline-block;
        margin-bottom: 5px;
      }
      &:first-of-type{
        padding-left: 0;
      }
    }
    .col-sm-10{
      width: 75%;
    }
    input[name='captcha']{
      margin: 0;
    }
    .panel-body{
      margin-bottom: 20px;
      overflow: hidden;
    }
  }
  .img-thumbnail{
    max-width: 100%;
    height: auto;
  }
  address{
    margin-bottom: 20px;
  }
}


/******************************
 SEARCH PAGE
*******************************/

#content.search-page{
  .buttons + h2{
    margin-bottom: 15px;
  }
  .content{
    margin: 15px 0;
    padding-bottom: 5px;
    overflow: hidden;
    input[type="text"]{
      width: 265px;
    }
    select{
      margin: 10px;
    }
    > div{
      float: left;
      position: relative;
    }
    .s-check{
      top: 7px;
    }
  }
}


/******************************
 COMPARE
*******************************/

.compare-info{
  img{
    max-width: 100% !important;
  }
}