/*
  Journal - Advanced Opencart Theme Framework
  Version 2.4.0
  Copyright (c) 2014 Digital Atelier
  http://journal.digital-atelier.com/
*/

//Widths
$sitewidth: 1024px;

//Fonts
$sans: Helvetica, Arial, sans-serif;

//Heights
$j-min: 40px;
$j-50: 50px;
$j-100: $j-min * 2 + 20px;

$margin:20px;
$side: 240px;


//Colors
$red: #EA2E49;
$f4: #f4f4f4;
$e4:#E4E4E4;
$ee: #EEEEEE;
$light:#A9B8C0;
$yel:#f1c40f;
$verydark: #222222;
$green: #339965;
$gray: #5F6874;
$lightquartz:#5C8BA6;
$dark: #333745;
$quartz: #3F5765;
$blue: #428bca;
$darkblue: #45738f;
$ccc: #CCCCCC;
$verylight: #FAFAFA;
