<?php if ($modules) { ?>
<div class="container mb48">



<div id="column-right" class="dvLoginReg pull-right col-lg-3 col-sm-4 col-md-3 col-xs-10 row" style="margin-top: 25px;">

  <?php foreach ($modules as $module) { ?>

  <?php echo $module; ?>

  <?php } ?>

</div>

<?php } ?>

