<div class="ckeditor">
    <accordion  close-others="false">
        <accordion-group data-ng-repeat="language in languages.languages">
            <accordion-heading>
                <div class="accordion-bar bar-level-1">
                <img data-ng-src='view/image/flags/{{language.image}}' title='{{language.name}}' /> {{ language.name }}
                </div>
            </accordion-heading>
            <textarea summernote on-init="init()" height="400" data-ng-model="ngModel[language.language_id]"></textarea>
        </accordion-group>
    </accordion>
</div>