<?php if ($modules) { ?>
<div class="container mb48">

<div id="column-right" class="pull-right col-lg-3 row">

  <?php foreach ($modules as $module) { ?>

  <?php echo $module; ?>

  <?php } ?>

</div>

<?php } ?>

