<div id="footer-bg">
<div class="container">
<div class="row mlr0 mt33">
<?php if ($informations) { ?>
  
  
  
<div class="footer-menu mr44 col-lg-2 row">

<h2 class="tittle clrwht"><?php echo $text_information; ?></h2>

<ul class="footermenu">

<?php foreach ($informations as $information) { ?>

<li><a href="<?php echo $information['href']; ?>"><?php echo $information['title']; ?></a></li>

<?php } ?>

</ul>

</div>
<?php
}
?>  
  
  
<div class="footer-menu mr44 col-lg-2">

<h2 class="tittle clrwht"><?php echo $text_service; ?></h2>

<ul class="footermenu">

<li><a href="<?php echo $contact; ?>"><?php echo $text_contact; ?></a></li>

      <!--<li><a href="<?php echo $return; ?>"><?php echo $text_return; ?></a></li>

      <li><a href="<?php echo $sitemap; ?>"><?php echo $text_sitemap; ?></a></li>-->

</ul>

</div>  


<!--<div class="footer-menu mr44 col-lg-2">

<h2 class="tittle clrwht"><?php echo $text_extra; ?></h2>

<ul class="footermenu">

<li><a href="<?php echo $manufacturer; ?>"><?php echo $text_manufacturer; ?></a></li>

      <li><a href="<?php echo $voucher; ?>"><?php echo $text_voucher; ?></a></li>

      <li><a href="<?php echo $affiliate; ?>"><?php echo $text_affiliate; ?></a></li>

      <li><a href="<?php echo $special; ?>"><?php echo $text_special; ?></a></li>

</ul>

</div>--> 
  
  
  
  <div class="footer-menu mr44 col-lg-2">

<h2 class="tittle clrwht"><?php echo $text_account; ?></h2>

<ul class="footermenu">

      <li><a href="<?php echo $account; ?>"><?php echo $text_account; ?></a></li>

      <li><a href="<?php echo $order; ?>"><?php echo $text_order; ?></a></li>

      <li><a href="<?php echo $wishlist; ?>"><?php echo $text_wishlist; ?></a></li>

     <!-- <li><a href="<?php echo $newsletter; ?>"><?php echo $text_newsletter; ?></a></li>-->

</ul>

</div>
  














    	

            



            <div class="footer-menu col-lg-2">

                <h2 class="tittle clrwht">Subscribe</h2>

                <ul class="footermenu">

                    <li>

                        <div class="form-group">

                            <div class="input-group col-lg-12">

                            	<input type="text" placeholder="Your E-mail Id" class="form-control subscribe-mail" id="email">

                                <span class="input-group-btn">

                                    <button class="btn btn-default subscribe-btn" type="button">Submit</button>

                                </span>

                            </div>

                        </div>

                    </li>

                </ul>

            </div>



        </div><!--row-->

        <hr class="footer" />

        

        <div class="row">

        	<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 mr35">

       	    	<img src="catalog/view/theme/mycustomtheme/images/logo.png" class="img-responsive m0auto footer-mt60" alt="" /> 

            </div>

            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">

            	
<h2 style="color:#FFFFFF; font-weight:bold">CRONAZ INDUSTRIES</h2>
<p class="clrwht">
CRONAZ INDUSTRIES is an Indian company that offers customers a world class, high quality premium products on apparels, watches, wallets, beauty cosmetics, fashion jewellery etc., at cost effective manner.

CRONAZ INDUSTRIES sells its products on its brand name CRONAZ and products are available in CRONAZ e-Commerce website and CRONAZ retail stores across India.</p>

<h2 style="color:#FFFFFF; font-weight:bold">Vision</h2>

<p class="clrwht">CRONAZ INDUSTRIES aims to deliver high quality world class premium products for its customers, in a cost effective fashion.</p>



				
            </div>

        	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">

       	    	<img src="catalog/view/theme/mycustomtheme/images/cronaz-watch.png" class="img-responsive m0auto" alt="" /> 

            </div>

        </div><!--row-->

        <hr class="footer" />

        <div class="row mb20">

        	<div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 mr44">

                <ul class="guarantee">

                    <li><img src="catalog/view/theme/mycustomtheme/images/shipping.png" alt="" /> </li>

                    <li><img src="catalog/view/theme/mycustomtheme/images/guarantee.png" alt="" /></li>

                </ul>

            </div>

            <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 row mt25">

            	<p class="payment-label">Payment Method</p>

                <ul class="card">

                	<li><a href=""><img src="catalog/view/theme/mycustomtheme/images/card.png" alt="" /></a></li>

                    <li><a href=""><img src="catalog/view/theme/mycustomtheme/images/card1.png" alt="" /></a></li>

                   <!-- <li><a href=""><img src="catalog/view/theme/mycustomtheme/images/card2.png" alt="" /></a></li>

                    <li><a href=""><img src="catalog/view/theme/mycustomtheme/images/card3.png" alt="" /></a></li>

                    <li><a href=""><img src="catalog/view/theme/mycustomtheme/images/card4.png" alt="" /></a></li>

                    <li><a href=""><img src="catalog/view/theme/mycustomtheme/images/card5.png" alt="" /></a></li>

                    <li><a href=""><img src="catalog/view/theme/mycustomtheme/images/card.png" alt="" /></a></li>-->

                    <li><a href=""><img src="catalog/view/theme/mycustomtheme/images/card7.png" alt="" /></a></li>

                    <li><a href=""><img src="catalog/view/theme/mycustomtheme/images/card8.png" alt="" /></a></li>

                  <!--  <li><a href=""><img src="catalog/view/theme/mycustomtheme/images/card9.png" alt="" /></a></li>-->

                </ul>

            </div>

            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 row">

            	<div class="social">

                	<a href="" class="twitter"></a>

                    <a href="" class="youtube"></a>

                    <a href="" class="facebook"></a>

                    <a href="" class="google"></a>

                    <a href="" class="linkedin"></a>

                </div>

            </div>

        

        </div><!--row-->

        

        

    </div><!--container-->

</div><!--footer-bg-->





</body>

</html>