<?php echo $header; ?><?php echo $column_left; ?><?php echo $column_right; ?>

<div id="content" class="col-lg-9"><?php echo $content_top; ?>

  <ul class="crumb">

    <?php foreach ($breadcrumbs as $breadcrumb) { ?>

    <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>

    <?php } ?>

  </ul>

  <h1 class="clrorg"><?php echo $heading_title; ?></h1>

  <p><?php echo $text_total; ?><b> <?php echo $total; ?></b>.</p>

  <table class="list table-striped mb28" width="100%">

    <thead>

      <tr>

        <td class="left"><?php echo $column_date_added; ?></td>

        <td class="left"><?php echo $column_description; ?></td>

        <td class="right"><?php echo $column_amount; ?></td>

      </tr>

    </thead>

    <tbody>

      <?php if ($transactions) { ?>

      <?php foreach ($transactions  as $transaction) { ?>

      <tr>

        <td class="left"><?php echo $transaction['date_added']; ?></td>

        <td class="left"><?php echo $transaction['description']; ?></td>

        <td class="right"><?php echo $transaction['amount']; ?></td>

      </tr>

      <?php } ?>

      <?php } else { ?>

      <tr>

        <td class="center" colspan="5"><?php echo $text_empty; ?></td>

      </tr>

      <?php } ?>

    </tbody>

  </table>

  

  <div class="buttons">

    <div class="right"><a href="<?php echo $continue; ?>" class="button continue-btn"><?php echo $button_continue; ?></a></div>

  </div>
  </div>
  <div class="pagination"><?php echo $pagination; ?></div>

  <?php echo $content_bottom; ?></div>

<?php echo $footer; ?>