<?php if ($modules) { ?>
<div class="container mb48">


<div class="row">
<div id="column-right" class="dvLoginReg pull-right col-lg-3 col-sm-3 col-md-3 col-xs-12" style="">

  <?php foreach ($modules as $module) { ?>

  <?php echo $module; ?>

  <?php } ?>

</div>

<?php } ?>

