

<div id="footer-bg">
  <div class="container">
    <div class="row mt33">
      
      <style type="text/css">
        .footermenu ul li
        {
        list-style-type:none;
        }
        .footer-menu{margin-bottom: 15px;}
      </style>
      <div class="footer-menu col-md-3 col-sm-6 col-xs-12 col-lg-3">
        <h2 class="tittle clrwht">HELP</h2>
        <ul class="footermenu">
          <li><a href="http://www.cronaz.com/faq">FAQ</a></li>
          <li><a href="http://www.cronaz.com/payments">Payments</a></li>
          <li><a href="http://www.cronaz.com/return">Return and Exchange</a></li>
          <li><a href="http://www.cronaz.com/refund">Refund</a></li>
        </ul>
      </div>
      <div class="footer-menu col-md-3 col-sm-6 col-xs-12 col-lg-3">
        <h2 class="tittle clrwht clsHdFooter"><?php //echo $text_service; ?>CRONAZ</h2>
        <ul class="footermenu">
          <!-- <li><a href="<?php echo $contact; ?>"><?php echo $text_contact; ?></a></li>
            <li><a href="<?php echo $return; ?>"><?php echo $text_return; ?></a></li>
            
               <li><a href="<?php echo $sitemap; ?>"><?php echo $text_sitemap; ?></a></li>-->
          <li><a href="http://www.cronaz.com/contact">Contact Us</a></li>
          <!--<li><a href="<?php echo $contact; ?>"><?php echo $text_contact; ?></a></li>-->
          <li><a href="http://www.cronaz.com/aboutus">About Us</a></li>
          <li><a href="http://www.cronaz.com/terms_conditions">Terms &amp; Conditions</a></li>
          <li><a href="http://www.cronaz.com/privacy">Privacy Policy</a></li>
          <li><a href="http://www.cronaz.com/returns_policy">Returns policy</a></li>
        </ul>
      </div>
      
      <div class="footer-menu col-md-3 col-sm-6 col-xs-12 col-lg-3">
        <h2 class="tittle clrwht clsHdFooter"><?php echo $text_account; ?></h2>
        <ul class="footermenu">
          <li><a href="<?php echo $account; ?>"><?php echo $text_account; ?></a></li>
          <li><a href="<?php echo $order; ?>"><?php echo $text_order; ?></a></li>
          <li><a href="<?php echo $wishlist; ?>"><?php echo $text_wishlist; ?></a></li>
          <!-- <li><a href="<?php echo $newsletter; ?>"><?php echo $text_newsletter; ?></a></li>-->
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 col-lg-3">
      <form name="subscribe" id="subscribe" >
              <div class="footer-menu">
                <h2 class="tittle clrwht clsHdFooter">Subscribe</h2>
                <ul class="footermenu">
                  <li>
                    <div class="form-group">
                      <div class="input-group">
                        <input type="text" name="subscribe_email" id="subscribe_email" class="form-control subscribe-mail" placeholder="Email">
                        <span class="input-group-btn">
                        <button class="btn btn-default subscribe-btn" type="button" onclick="email_subscribe()" >Submit</button>
                        </span>
                      </div>
                    </div>
                  </li>
                </ul>
                <p id="subscribe_result" style="text-align:center; font-size:14px"></p>
              </div>
      </form>
      </div>
    </div>
    <!--row-->
    <hr class="footer" />
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <img src="catalog/view/theme/mycustomtheme/images/logo.png" class="img-responsive imgFooterLogo m0auto footer-mt60" alt="" /> 
      </div>
      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <h2 class="tittle" style="color:#FFFFFF; font-weight:bold; margin-top:0px;">CRONAZ INDUSTRIES</h2>
        <p class="clrwht">
          CRONAZ INDUSTRIES is an Indian company that offers customers a world class, high quality premium products on apparels, watches, wallets, beauty cosmetics, fashion jewellery etc., at cost effective manner.
          CRONAZ INDUSTRIES sells its products on its brand name CRONAZ and products are available in CRONAZ e-Commerce website and CRONAZ retail stores across India.
        </p>
        <h2 class="tittle" style="color:#FFFFFF; font-weight:bold">Vision</h2>
        <p class="clrwht">CRONAZ INDUSTRIES aims to deliver high quality world class premium products for its customers, in a cost effective fashion.</p>
      </div>
      <!--<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
        <img src="catalog/view/theme/mycustomtheme/images/cronaz-watch.png" class="img-responsive m0auto" alt="" /> 
        
        </div>-->
    </div>
    <!--row-->
    <hr class="footer" />
    <div class="row mb20">
      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
        <ul class="guarantee">
          <li><img src="catalog/view/theme/mycustomtheme/images/shipping.png" alt="" /> </li>
          <li><img src="catalog/view/theme/mycustomtheme/images/guarantee.png" alt="" /></li>
        </ul>
      </div>
      <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 dvpayment-label">
        <p class="payment-label">Payment Method</p>
        <ul class="card">
          <li><img src="catalog/view/theme/mycustomtheme/images/card.png" alt="" /></li>
          <li><img src="catalog/view/theme/mycustomtheme/images/card1.png" alt="" /></li>
          <li><img src="catalog/view/theme/mycustomtheme/images/card2.png" alt="" /></li>
          <li><img src="catalog/view/theme/mycustomtheme/images/card3.png" alt="" /></li>
          <li><img src="catalog/view/theme/mycustomtheme/images/card4.png" alt="" /></li>
          <li><img src="catalog/view/theme/mycustomtheme/images/card5.png" alt="" /></li>         
          <li><img src="catalog/view/theme/mycustomtheme/images/card7.png" alt="" /></li>
          <li><img src="catalog/view/theme/mycustomtheme/images/card8.png" alt="" /></li>
          <li><img src="catalog/view/theme/mycustomtheme/images/card9.png" alt="" /></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
        <div class="social dvSocial">
          <a href="" class="facebook"></a>
          <a href="" class="twitter"></a>
          <a href="" class="google"></a>
          <a href="" class="youtube"></a>
          <!--<a href="" class="linkedin"></a>-->
        </div>
      </div>
    </div>
    <!--row-->
  </div>
  <!--container-->
</div>
<!--footer-bg-->
<script>
  // Remember set you events before call bootstrapSwitch or they will fire after bootstrapSwitch's events
  
  
  $('#after').bootstrapNumber();
  $('#colorful').bootstrapNumber({
    upClass: 'sub',
    downClass: 'add'
  });
</script>
<script language="javascript">
  function email_subscribe(){
    //alert($("#subscribe").serialize());
    $.ajax({
        type: 'post',
        url: 'index.php?route=module/newslettersubscribe/subscribe',
        dataType: 'html',
              data:$("#subscribe").serialize(),
        success: function (html) {
          eval(html);
        }}); 
  }
  function email_unsubscribe(){
    $.ajax({
        type: 'post',
        url: 'index.php?route=module/newslettersubscribe/unsubscribe',
        dataType: 'html',
              data:$("#subscribe").serialize(),
        success: function (html) {
          eval(html);
        }}); 
  }
        
  $('.fancybox_sub').fancybox({
    width: 180,
    height: 180,
    autoDimensions: false
  });
</script>
</body>
</html>

