<?php echo $header; ?>
<?php echo $column_left; ?>
<?php echo $column_right;

 // var_dump($allinfo);

 ?>
<div id="content" class="container mb28"><?php echo $content_top; ?>
  <ul class="crumb">
    <?php foreach ($breadcrumbs as $breadcrumb) { ?>
    <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
    <?php } ?>
  </ul>

<?php 

if($postdata['DATA'] == TRUE) {


$postdata = $postdata['DATA'];


$pd = explode("&amp;",$postdata);
// unset($pd[1],$pd['3']);

// substr($pd[2],strpos($pd[2], "=") + 1 )


if ((substr($pd[0],strpos($pd[0], "=") + 1)) == 0) {

 ?>

 <h1 class="clrorg tittle cps"><?php echo $heading_title; ?></h1>
 <p class="fs14"><?php echo $text_message; ?></p>

 <div class="col-sm-6">
  <div class="table-responsive">
<table class="table table-bordered table-hover">
<tbody>
<tr>
  <td>TRANSACTION ID: </td>
  <td><?php echo substr($pd[2],strpos($pd[2], "=") + 1 ); ?></td>
</tr>
<tr>
  <td>ITEM PRICE: </td>
  <td><?php echo substr($pd[4],strpos($pd[4], "=") + 1 );?></td>
</tr>
<tr>
  <td>ORDER STATUS:</td>
  <td><?php echo "PROCESSED";?></td>
</tr>
<tr>
  <td>TELEPHONE: </td>
  <td><?php echo $allinfo['telephone'];?></td>
</tr>

<tr>
  <td>DATE & TIME:</td>
  <td><?php echo $allinfo['date_added']; ?></td>
</tr>
<tr>
  <td>SHIPPING ADDRESS</td>
  <td><?php echo $allinfo['shipping_address_1'];?></td>
</tr>

</tbody>

 </table>
</div>
</div>

<?php

} 


else { ?> 

<h1 class="clrorg mt53 tittle cps"><?php echo "OOPS! YOUR TRANSACTION HAS BEEN DECLINED" ?></h1>
  <p class="fs14">Try again.. we regret the inconvenience.</p>
<div class="col-sm-6">
  <div class="table-responsive">
<table class="table table-bordered table-hover">
<tbody>
<tr>
  <td>TRANSACTION ID: </td>
  <td><?php echo substr($pd[2],strpos($pd[2], "=") + 1 ); ?></td>
</tr>
<tr>
  <td>ITEM PRICE: </td>
  <td><?php echo substr($pd[4],strpos($pd[4], "=") + 1 );?></td>
</tr>
<tr>
  <td>ORDER STATUS:</td>
  <td><?php echo "DECLINED";?></td>
</tr>
<tr>
  <td>TELEPHONE: </td>
  <td><?php echo $allinfo['telephone'];?></td>
</tr>

<tr>
  <td>DATE & TIME:</td>
  <td><?php echo $allinfo['date_added']; ?></td>
</tr>
<tr>
  <td>SHIPPING ADDRESS</td>
  <td><?php echo $allinfo['shipping_address_1'];?></td>
</tr>

</tbody>

 </table>
</div>
</div>
  
  <!--<div class="buttons mt25">
    <div class="right"><a href="<?php echo $continue; ?>" class="button continue-btn"><?php echo $button_continue; ?></a></div>
  </div>-->
  </div>

<?php  } 

}

else {



echo "<h1 class=\"clrorg mt53 tittle cps\">Forbidden</h1>";

echo "<p class=\"fs14\">Don't try Script kiddies</p>";

}



 ?>

<?php echo $content_bottom; ?></div>
<?php echo $footer; ?>