
/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
	border: 1px solid #bbbbbb;
	margin:-4px;	/* Set this to minus the border thickness. */
	background-color:#fff;	
	cursor:move;		
}

/* This is for the title text. */
.cloud-zoom-title {
	font-family:Arial, Helvetica, sans-serif;
	position:absolute !important;
	background-color:#000;
	color:#fff;
	padding:3px;
	width:100%;
	text-align:center;	
	font-weight:bold;
	font-size:10px;
	top:0px;
}

/* This is the zoom window. */
.cloud-zoom-big {
	border:1px solid #000;
	overflow:hidden;
	width:500px;
}

/* This is the loading message. */
.cloud-zoom-loading {
	color:white;	
	background:#222;
	padding:3px;
	border:1px solid #000;
}
@media(min-width:575px) and (max-width: 768px)
{
	.cloud-zoom-big
	{
		position: absolute;
		left:0px !important;
		top:600px !important;
	}
}
@media(min-width: 475px) and (max-width: 574px)
{
	.cloud-zoom-big
	{
		left:0px !important;
		top:500px !important;
	}

}
@media(min-width: 375px) and (max-width: 474px)
{
	.cloud-zoom-big
	{
		left:0px !important;
		top:400px !important;
	}

}
@media(min-width: 275px) and (max-width: 374px)
{
	.cloud-zoom-big
	{
		left:0px !important;
		top:300px !important;
	}

}


