/*
  Journal - Advanced Opencart Theme Framework
  Version 2.4.0
  Copyright (c) 2014 Digital Atelier
  http://journal.digital-atelier.com/
*/
/******************************
 SHOPPING CART
*******************************/
.cart-info .stock {
  color: red; }
.cart-info .name {
  max-width: 400px;
  text-align: left; }
  .cart-info .name a {
    font-weight: bold; }
.cart-info .image {
  text-align: center;
  width: 60px; }
  .cart-info .image img {
    margin: 5px 0;
    float: left;
    margin-left: 10px; }
.cart-info .quantity {
  min-width: 110px;
  text-align: center; }
  .cart-info .quantity .input-group {
    display: inline-block; }
    .cart-info .quantity .input-group input {
      margin-right: 5px;
      border-radius: 4px; }
    .cart-info .quantity .input-group .btn-primary {
      background-color: #428bca; }
      .cart-info .quantity .input-group .btn-primary:hover {
        background-color: #3071a9; }
    .cart-info .quantity .input-group .btn-danger {
      background-color: #EA2E49; }
      .cart-info .quantity .input-group .btn-danger:hover {
        background-color: #d01530; }
.cart-info .price, .cart-info .total {
  font-weight: bold; }
.cart-info table {
  overflow: hidden; }
.cart-info td {
  padding: 5px 10px 5px 5px;
  text-align: center; }
.cart-info thead td {
  height: 40px;
  font-weight: bold;
  border-bottom: none;
  font-size: 13px; }
.cart-info tbody td {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #E4E4E4; }
.cart-info tbody td.image {
  padding-left: 0; }
.cart-info tbody tr:last-of-type td {
  border-bottom: none; }

#content.sc-page .content p, #content.sc-page .action-area p {
  padding: 10px;
  font-size: 13px; }
#content.sc-page .content table.radio .highlight td {
  border-bottom: 1px solid #E4E4E4; }
#content.sc-page .content table.radio .highlight:last-of-type td {
  border-bottom: none; }
#content.sc-page a + .text-danger {
  color: #EA2E49;
  background-color: transparent; }

.cart-module > div {
  display: none; }
  .cart-module > div form {
    padding-left: 10px; }
    .cart-module > div form input[type='text'] {
      max-width: 240px;
      margin: 20px 0; }
  .cart-module > div input[name='postcode'] {
    width: 100px;
    margin-left: 6px;
    margin-top: 5px; }

#shipping table {
  padding: 10px 0;
  width: 45%; }
  #shipping table td:first-of-type {
    font-weight: bold; }
#shipping select {
  width: 150px; }
#shipping .button {
  margin: 10px 0; }

.cart-total {
  overflow: auto;
  padding: 8px; }
  .cart-total table {
    float: right; }
  .cart-total td {
    padding: 4px;
    text-align: right; }

label {
  line-height: 1.5;
  font-size: 13px;
  position: relative; }

#total .right {
  font-size: 14px;
  width: 87%;
  font-weight: bold; }

.quantity input[type='text'] {
  width: 40px;
  text-align: center; }

.action-area {
  overflow: hidden; }
  .action-area h3 {
    padding: 10px 12px; }

.oc2 .action-area .panel-group {
  margin-bottom: 0; }
.oc2 .action-area .panel-body label {
  display: inline-block;
  margin-bottom: 5px; }
.oc2 .action-area .panel-body .input-group input[type="text"] {
  min-width: 300px; }
.oc2 .action-area .panel-body .input-group .button {
  margin-left: 5px; }
.oc2 .action-area .form-group {
  clear: both;
  margin-top: 10px; }
  .oc2 .action-area .form-group label {
    min-width: 150px;
    float: left;
    margin-bottom: 0; }
  .oc2 .action-area .form-group input[type="text"] {
    max-width: 160px; }
.oc2 .checkout-content {
  background-color: transparent;
  padding: 0;
  display: block; }
  .oc2 .checkout-content .right .form-group {
    margin-bottom: 8px; }
  .oc2 .checkout-content p, .oc2 .checkout-content .radio {
    padding: 10px 0 0 0; }

.order-list .list td {
  text-align: center; }

/******************************
 CHECKOUT PAGE
*******************************/
.checkout {
  margin-bottom: 20px;
  overflow: hidden; }
  .checkout select {
    margin: 0; }
  .checkout div:last-of-type .checkout-heading {
    border-bottom: none; }

.checkout-heading {
  border-bottom: 1px solid #333745;
  font-size: 13px;
  min-height: 35px;
  padding: 10px;
  clear: both; }

.checkout-heading a {
  float: right;
  margin-top: 1px;
  font-weight: normal;
  text-decoration: none; }

.checkout-content {
  padding: 0 0 15px 0;
  display: none;
  position: relative; }
  .checkout-content:after {
    content: "";
    display: table;
    clear: both; }
  .checkout-content p {
    padding: 10px 0; }
  .checkout-content .left {
    float: left;
    width: 48%; }
  .checkout-content .right {
    float: right;
    width: 48%; }
  .checkout-content .left p:last-of-type {
    min-height: 92px; }
  .checkout-content .buttons {
    margin-bottom: 0;
    clear: both; }
    .checkout-content .buttons .right {
      width: 100%; }
  .checkout-content textarea {
    width: 100% !important;
    margin-top: 15px; }

#payment-address h2 {
  margin-bottom: 15px; }

.checkout-product .total {
  font-weight: bold; }
.checkout-product td {
  padding: 15px; }
.checkout-product thead td {
  font-weight: bold;
  padding: 13px; }
.checkout-product .name,
.checkout-product .model {
  text-align: left; }
.checkout-product .quantity,
.checkout-product .price,
.checkout-product .total {
  text-align: right; }
.checkout-product tbody td {
  border-bottom: 1px solid #f4f4f4; }
.checkout-product tfoot td {
  text-align: right;
  padding: 6px 15px; }

.wait {
  position: absolute;
  padding-top: 12px;
  right: -10px;
  bottom: 30px; }

.newsletter-page table.form {
  padding-top: 0; }

.oc2 .oc-newsletter .form-horizontal .form-group > label {
  width: auto;
  padding-top: 10px; }
.oc2 .oc-newsletter .form-horizontal .form-group .radio-inline {
  width: auto; }
.oc2 .oc-newsletter .form-horizontal .form-group label + div {
  float: none;
  padding-top: 0; }

/******************************
 RETURNS
*******************************/
.returns > h1 + p {
  margin-bottom: 15px; }
.returns form h2, .returns form .content {
  margin-bottom: 15px; }
.returns .left {
  float: none; }
.returns .buttons .left {
  float: left; }

@media only screen and (max-width: 980px) {
  .return-product > div {
    width: 100%;
    display: block; }
    .return-product > div input {
      margin: 3px 0; }

  .return-detail > div {
    width: 100%;
    display: block; }

  .return-reason {
    margin-bottom: 20px; } }
/******************************
 SITEMAP
*******************************/
.sitemap-info {
  overflow: auto;
  padding-bottom: 20px; }
  .sitemap-info ul {
    margin: 0;
    padding: 0; }
    .sitemap-info ul li {
      list-style: none;
      padding: 2px;
      margin-bottom: 1px;
      font-weight: bold; }
  .sitemap-info > div {
    float: left;
    width: 50%;
    padding-left: 7px; }
    .sitemap-info > div > ul {
      padding: 10px 0 5px 15px; }
    .sitemap-info > div > ul > li ul {
      margin-left: 7px; }
      .sitemap-info > div > ul > li ul > li a {
        font-weight: normal; }
    .sitemap-info > div > ul > li > ul li:before {
      font-size: 12px; }
  .sitemap-info > div:first-of-type {
    padding-left: 0;
    padding-right: 10px; }

/******************************
BRANDS
*******************************/
.header-default-sticky .manufacturer-list a[id]:before, .header-slim-sticky .manufacturer-list a[id]:before {
  content: "";
  display: block;
  height: 120px;
  margin-top: -120px; }

.header-center-sticky .manufacturer-list a[id]:before {
  content: "";
  display: block;
  height: 150px;
  margin-top: -150px; }

.manufacturer-list:first-of-type {
  margin-top: 10px; }

.manufacturer-list {
  overflow: auto; }
  .manufacturer-list ul {
    float: left;
    width: 25%;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 10px; }

.manufacturer-heading {
  background: #5F6874;
  font-size: 15px;
  font-weight: bold;
  padding: 5px 8px;
  margin-bottom: 6px; }

.manufacturer-content {
  padding: 8px; }

.manufacturer-list ul {
  float: left;
  width: 25%;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 10px; }

/******************************
 CONTACT PAGE
*******************************/
.contact-page h2 {
  margin-bottom: 15px; }
.contact-page .buttons {
  margin-top: 15px; }
.contact-page .content b {
  margin-bottom: 5px;
  display: inline-block; }

.contact-info {
  overflow: auto; }

.contact-info > div > div {
  float: left;
  width: 48%;
  margin-bottom: 10px; }

.oc2 .contact-page h2 {
  margin-bottom: 15px; }
.oc2 .contact-page .fa {
  top: -1px;
  font-size: 16px; }
.oc2 .contact-page .col {
  float: left;
  width: 25%;
  padding-left: 15px; }
  .oc2 .contact-page .col strong {
    display: inline-block;
    margin-bottom: 5px; }
  .oc2 .contact-page .col:first-of-type {
    padding-left: 0; }
.oc2 .contact-page .col-sm-10 {
  width: 75%; }
.oc2 .contact-page input[name='captcha'] {
  margin: 0; }
.oc2 .contact-page .panel-body {
  margin-bottom: 20px;
  overflow: hidden; }
.oc2 .img-thumbnail {
  max-width: 100%;
  height: auto; }
.oc2 address {
  margin-bottom: 20px; }

/******************************
 SEARCH PAGE
*******************************/
#content.search-page .buttons + h2 {
  margin-bottom: 15px; }
#content.search-page .content {
  margin: 15px 0;
  padding-bottom: 5px;
  overflow: hidden; }
  #content.search-page .content input[type="text"] {
    width: 265px; }
  #content.search-page .content select {
    margin: 10px; }
  #content.search-page .content > div {
    float: left;
    position: relative; }
  #content.search-page .content .s-check {
    top: 7px; }

/******************************
 COMPARE
*******************************/
.compare-info img {
  max-width: 100% !important; }
