/*
  Journal - Advanced Opencart Theme Framework
  Version 2.4.0
  Copyright (c) 2014 Digital Atelier
  http://journal.digital-atelier.com/
*/
/******************************
SIDE COLUMN
*******************************/
#column-right {
  padding: 20px 20px 20px 0;
  width: 240px;
  float: right; }

#column-left {
  padding: 20px 0 20px 20px;
  width: 240px;
  float: left; }

#column-right + #content {
  margin-right: 240px; }

#column-left + #content {
  margin-left: 240px; }

#column-left + #column-right + #content {
  margin-left: 240px;
  margin-right: 240px; }

#column-left + span + #content {
  margin-left: 240px; }

#column-right + span + #content {
  margin-right: 240px; }

#column-left + #column-right + span + #content {
  margin-left: 240px;
  margin-right: 240px; }

.side-column {
  position: relative;
  z-index: 2;
  /******************************
   SIDE CATEGORY
  *******************************/
  /******************************
   CAROUSEL MODULE
  *******************************/
  /******************************
   TEXT ROTATOR
  *******************************/
  /******************************
   PHOTO GALLERY
  *******************************/
  /******************************
   CMS BLOCKS
  *******************************/ }
  .side-column .heading-title, .side-column .box-heading {
    max-height: 100%;
    height: auto; }
  .side-column ul, .side-column li {
    margin: 0;
    padding: 0; }
  .side-column li {
    list-style: none;
    position: relative; }
  .side-column .box {
    margin-bottom: 20px; }
  .side-column > .box:last-of-type {
    margin-bottom: 0; }
  .side-column .box-content > div,
  .side-column .box-category {
    overflow: hidden; }
  .side-column .box-content p {
    padding: 10px;
    text-align: left;
    line-height: 1.4;
    margin-bottom: 0; }
  .side-column .box-content p + select {
    margin-bottom: 15px; }
  .side-column .box-content li a, .side-column .box-category li a {
    transition: background-color .2s, color .2s;
    border-bottom-width: 1px;
    border-bottom-color: #f4f4f4;
    border-bottom-style: solid;
    display: block;
    position: relative; }
  .side-column .box-content li a.active, .side-column .box-category li a.active {
    color: #EA2E49; }
  .side-column .box-content li ul, .side-column .box-category li ul {
    display: none;
    margin-bottom: 0; }
  .side-column .box-content li a.active + ul, .side-column .box-category li a.active + ul {
    display: block; }
  .side-column .box-content li a:before, .side-column .box-category li a:before {
    position: relative;
    float: left;
    margin-right: 5px; }
  .side-column .box-content > ul > li:last-of-type > a, .side-column .box-category > ul > li:last-of-type > a {
    border-bottom: 0 !important; }
  .side-column .side-category i {
    text-align: center;
    position: absolute;
    transition: background-color 0.2s, color 0.2s;
    display: table;
    line-height: 100%; }
    .side-column .side-category i span {
      position: relative;
      display: table-cell; }
  .side-column .side-category-accordion .box-category li ul li a:before {
    float: none;
    content: ""; }
  .side-column .product-grid-item .image .outofstock {
    display: none !important; }
  .side-column .oc-module {
    overflow: hidden;
    display: block; }
    .side-column .oc-module .product-wrapper {
      margin: 0;
      padding: 0;
      border-radius: 0;
      box-shadow: none;
      border: none;
      transition: all 0.2s; }
      .side-column .oc-module .product-wrapper .p-over {
        display: none; }
    .side-column .oc-module .product-wrapper:hover {
      padding: 0;
      margin: 0;
      border-radius: 0;
      box-shadow: none;
      border: none; }
    .side-column .oc-module .product-details {
      background-color: transparent;
      padding-bottom: 0;
      float: left;
      max-width: 145px; }
    .side-column .oc-module .product-details:before {
      content: ""; }
    .side-column .oc-module .product-grid-item {
      width: 100%;
      display: inline-block;
      border-bottom: 1px solid #E4E4E4;
      margin-bottom: 0;
      text-align: left; }
      .side-column .oc-module .product-grid-item .quickview-button {
        display: none; }
      .side-column .oc-module .product-grid-item .image {
        display: block;
        float: left;
        position: relative;
        width: auto; }
        .side-column .oc-module .product-grid-item .image span {
          display: none !important; }
        .side-column .oc-module .product-grid-item .image a {
          background: transparent !important;
          margin-right: 5px;
          line-height: 100%;
          border-radius: 0;
          border: none; }
        .side-column .oc-module .product-grid-item .image img {
          border: 0;
          display: block;
          padding: 0;
          max-width: 55px;
          width: auto;
          opacity: 1 !important; }
      .side-column .oc-module .product-grid-item .name {
        position: relative;
        display: block;
        margin-top: 2px; }
        .side-column .oc-module .product-grid-item .name a {
          white-space: normal;
          font-size: 12px;
          text-decoration: none;
          display: block;
          text-align: left;
          padding: 0 0 2px 0; }
      .side-column .oc-module .product-grid-item .price {
        display: inline-block;
        font-size: 13px;
        padding: 0;
        text-align: left;
        border: none;
        margin-bottom: 4px;
        background-color: transparent;
        border-radius: 0; }
      .side-column .oc-module .product-grid-item .price-old {
        font-weight: normal;
        color: #EA2E49;
        padding-right: 2px;
        text-decoration: line-through;
        font-size: 12px; }
      .side-column .oc-module .product-grid-item .price-new {
        font-size: 13px; }
      .side-column .oc-module .product-grid-item .rating {
        position: relative;
        margin: 0;
        left: 0;
        top: 0;
        padding: 0; }
      .side-column .oc-module .product-grid-item .cart, .side-column .oc-module .product-grid-item .description, .side-column .oc-module .product-grid-item .sale, .side-column .oc-module .product-grid-item .wishlist, .side-column .oc-module .product-grid-item .compare {
        display: none !important; }
      .side-column .oc-module .product-grid-item .cart input {
        color: white;
        font-family: Helvetica, Arial, sans-serif;
        text-transform: none;
        font-weight: bold; }
    .side-column .oc-module .product-grid-item:last-of-type {
      border-bottom: none; }
  .side-column .owl-carousel .owl-item img {
    max-width: 100%;
    height: auto; }
  .side-column .journal-carousel .product-wrapper:hover {
    box-shadow: none; }
  .side-column .journal-carousel .owl-controls {
    overflow: visible; }
  .side-column .journal-carousel .owl-buttons {
    -webkit-backface-visibility: hidden; }
  .side-column .journal-carousel .htabs a {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #5F6874;
    border-right: 0; }
  .side-column .journal-carousel .htabs a:last-of-type {
    border-bottom: none; }
  .side-column .journal-carousel .htabs.single-tab a, .side-column .journal-carousel .htabs.single-tab a.selected, .side-column .journal-carousel .htabs.single-tab a:hover {
    border-bottom: none; }
  .side-column .journal-carousel .htabs.single-tab a {
    padding-left: 0; }
  .side-column .quote {
    padding-bottom: 30px;
    overflow: hidden; }
  .side-column .rotator-image {
    float: none !important;
    margin: 10px auto 0 auto !important;
    height: auto; }
  .side-column .quovolve-nav {
    bottom: 10px !important;
    left: 0;
    width: 100%;
    text-align: center; }
    .side-column .quovolve-nav ul, .side-column .quovolve-nav ol {
      margin: 0;
      padding: 0;
      display: inline-block; }
  .side-column .journal-gallery {
    overflow: hidden; }
    .side-column .journal-gallery .box-heading {
      margin-bottom: 10px; }
    .side-column .journal-gallery .box-content {
      margin-right: -10px;
      margin-bottom: -10px; }
      .side-column .journal-gallery .box-content .gallery-thumb {
        padding-right: 10px;
        margin-bottom: 10px; }
  .side-column .gallery-thumb a:before {
    font-size: 20px;
    margin-left: -10px;
    margin-top: -12px; }
  .side-column .cms-block, .side-column .static-banner {
    margin-bottom: 20px; }
    .side-column .cms-block:last-of-type, .side-column .static-banner:last-of-type {
      margin-bottom: 0; }
  .side-column .box.cms-blocks {
    background-color: transparent; }
    .side-column .box.cms-blocks .cms-block {
      margin-bottom: 0; }
      .side-column .box.cms-blocks .cms-block:last-of-type {
        margin-bottom: 0; }
    .side-column .box.cms-blocks .box-heading {
      margin-bottom: 0; }
    .side-column .box.cms-blocks .block-content {
      height: auto !important;
      background-color: transparent; }
  .side-column .static-banners.box {
    background-color: transparent; }
  .side-column .block-content p {
    padding-bottom: 0; }
  .side-column .editor-content img {
    max-width: 200px !important;
    height: auto; }
  .side-column .editor-content h1, .side-column .editor-content h2, .side-column .editor-content h3 {
    padding-bottom: 0; }

.extended-layout #column-right .journal-gallery .box-content, .extended-layout #column-left .journal-gallery .box-content {
  padding: 10px;
  padding-top: 0; }
.extended-layout #column-right .box:last-of-type, .extended-layout #column-left .box:last-of-type {
  margin-bottom: 20px; }

.side-column .oc-module .inline-button br {
  display: none; }
.side-column .box.journal-carousel {
  background-color: transparent;
  margin-bottom: 10px; }
  .side-column .box.journal-carousel .owl-pagination {
    margin-bottom: 0; }
.side-column .owl-carousel .owl-wrapper-outer {
  overflow: visible; }

/******************************
OC 2
*******************************/
#column-right + .row #content {
  margin-right: 240px; }

#column-left + .row #content {
  margin-left: 240px; }

#column-left + #column-right + .row #content {
  margin-left: 240px;
  margin-right: 240px; }
