<div class="container">
<div class="row mb20">





<!--<div id='cssmenu'>
<ul>
   <li class='active'><a href='#'><span>Home</span></a></li>
   <li class='has-sub'><a href='#'><span>Products</span></a>
      <ul>
         <li><a href='#'><span>Product 1</span></a></li>
         <li><a href='#'><span>Product 2</span></a></li>
         <li class='last'><a href='#'><span>Product 3</span></a></li>
      </ul>
   </li>
   <li class='has-sub'><a href='#'><span>About</span></a>
      <ul>
         <li><a href='#'><span>Company</span></a></li>
         <li class='last'><a href='#'><span>Contact</span></a></li>
      </ul>
   </li>
   <li class='last'><a href='#'><span>Contact</span></a></li>
</ul>
</div>-->




<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
<div id='cssmenu'>
<ul>
  <!-- <li><a href='#'><span>Categories</span></a></li>-->

<?php foreach ($categories as $category) { ?>

<?php if ($category['children']) { ?>
<li class="has-sub">
<?php
}else
{
?>
<li>
<?php
}
?>
<?php if ($category['category_id'] == $category_id) { ?>

<a href="<?php echo $category['href']; ?>" class="hilight"><span><?php echo $category['name']; ?></span></a>

<?php } else { ?>

<a href="<?php echo $category['href']; ?>"><span><?php echo $category['name']; ?></span></a>

<?php } ?>

<?php if ($category['children']) { ?>
<!--<span class="glyphicon glyphicon-plus plus catog" id="subch"></span>
-->

<?php foreach ($category['children'] as $child) { ?>
<ul>
<li>

<?php if ($child['category_id'] == $child_id) { ?>

<a  href="<?php echo $child['href']; ?>" class="hilight"> <span><?php echo $child['name']; ?></span></a>

<?php } else { ?>

<a href="<?php echo $child['href']; ?>"><span>  <?php echo $child['name']; ?></span></a>

<?php } ?>
</li>
</ul>
<?php } ?>


<?php } ?>

</li>



<?php } ?>
</ul>
</div>        
</div>
 
 
 <script type="text/javascript">
/*$(document).ready(function(e) {
       
  $(".catog").click(function(e) {
	  $(".list-group-item > ul").slideUp("fast");
	  // $("#subch").addClass("glyphicon-plus").removeClass("glyphicon-minus"); 
   $(this).next().slideToggle("fast") ;
   
  
   
}); 
});*/


 /*if($(this).hasClass("glyphicon-plus"))
   {
	    $("#subch").removeClass("glyphicon-minus").addClass("glyphicon-minus"); 
	   $(this).addClass("glyphicon-minus").removeClass("glyphicon-plus"); 
   }else
   {     $("#subch").removeClass("glyphicon-plus"); 
	  	   $(this).addClass("glyphicon-plus").removeClass("glyphicon-minus"); 
 
   }*/
   
   
  
   
   /* var dis=$(this).next("ul").css("display");
  alert(dis);
   if(dis=="none")
   {
	 $(this).removeClass("glyphicon-minus").addClass("glyphicon-plus");  
   }else
   {
	  $(this).removeClass("glyphicon-plus").addClass("glyphicon-minus"); 
	   
   }*/

$( document ).ready(function() {
$('#cssmenu > ul > li > a').click(function() {
  $('#cssmenu li').removeClass('active');
  $(this).closest('li').addClass('active');	
  var checkElement = $(this).next();
  if((checkElement.is('ul')) && (checkElement.is(':visible'))) {
    $(this).closest('li').removeClass('active');
    checkElement.slideUp('normal');
  }
  if((checkElement.is('ul')) && (!checkElement.is(':visible'))) {
    $('#cssmenu ul ul:visible').slideUp('normal');
    checkElement.slideDown('normal');
  }
  if($(this).closest('li').find('ul').children().length == 0) {
    return true;
  } else {
    return false;	
  }		
});
});
</script>