a{outline:none; text-decoration:none;}
li, a:hover{text-decoration:none; list-style-type:none;}
img{outline:none; border:none;}
ul{margin:0; padding:0;}
body{font-family: 'PT Sans', sans-serif; font-size:12px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

@font-face {
    font-family: rupee Foradian;
    src: url(../fonts/Rupee_Foradian.ttf);
}

.p0{padding:0px;}
.m0{margin:0px !important;}
.mb48{margin-bottom:48px;}
.mb28{margin-bottom:28px;}
.mb20{margin-bottom:20px;}
.mt33{margin-top:33px;}
.mt25{margin-top:25px;}
.mlr0{margin-left:0px; margin-right:0px;}
.m0auto{margin:0 auto;}
.mr44{margin-right:44px;}
.mr35{margin-right:35px;}
.mr30{margin-right:30px;}

.topnav{
	background:#000;
}
.topleftnav{
	margin:0;
	padding:0;
}
.topleftnav li a{
	color:#cccccc;
	padding:10px;
	float:left;
}
.topleftnav li:nth-last-child(2):after{
	content:'|';
	color:#8c8c8c;
	float:left;
	padding-top:10px;
}
.topleftnav li a:hover, .topleftnav li a.active{
	background:#303030;
	color:#fff;
}
.toprightnav{
	margin:0;
	padding:0;
}
.toprightnav li{
	float:left;
	padding:10px 0px;
}
.toprightnav li a{
	color:#fff;
}
.clrorg{
	color:#e8543a;
}
.clrwht{
	color:#fff !important;
}
.toprightnav li:after{
	content:'|';
	color:#8c8c8c;
	padding:0px 10px;
}
.toprightnav li:nth-last-child(1):after{
	content:'';
}
#banner{
	width:100%;
}
.bannerbg{
	width:100%;
}
/*.inner-banner{
	background-position: top center;
	height:100%;
	width:100%;
	min-height: 160px;
}*/
/*.navigation{
	width:100%;
	position:absolute;
	top:0;
	z-index:1;
}*/
.nav-tranparent{
	background:none;
	border:none;
	margin-top:25px;
}
.nav-tranparent .navbar-nav li a{
	font-size:16px;
	font-weight:bold;
	padding:10px 22px;
	color:#fff;
	text-transform:uppercase;
	outline:none;
}
/*.nav-tranparent .navbar-nav li a:after{
	background:#e8543a;
	width:10px;
	height:10px;
	content:'';
	text-align:center;
	position:absolute;
	bottom:-5px;
	right:35px;
	transform:rotate(45deg);
	text-align:center;
}*/
.nav-tranparent .navbar-nav li a:hover{
	background:#e8543a;
	color:#fff;
	border-radius:1px;
}



/*.nav-tranparent .navbar-nav li a:hover{
	color:#939a96;
}*/
hr{
	border-top: 1px solid #939a96;
	margin-top:20px;
	margin-bottom:0px;
}
.nav-search input[type="text"]{
	background:none;
	border:1px solid #a2a2a2;
	border-radius:0;
	color:#fff;
	padding:6px 16px 6px 10px;
	height:25px;
	font-size:12px;
}
/*input[placeholder]{
	color:#dedede;
}*/
#search::-webkit-input-placeholder, #email::-webkit-input-placeholder {
    color:    #dedede;
	font-style:italic;
	text-transform:uppercase;
}
#search:-moz-placeholder, #email:-moz-placeholder {
    color:    #dedede;
	font-style:italic;
	text-transform:uppercase;
}
#search::-moz-placeholder, #email::-moz-placeholder {
    color:    #dedede;
	font-style:italic;
	text-transform:uppercase;
}
#search:-ms-input-placeholder, #email:-ms-input-placeholder {
    color:    #dedede;
	font-style:italic;
	text-transform:uppercase;
}

.arrivals{
	width:100%;
	margin:0px auto;
	padding:0px;
}
.tittle{
	font-weight:bold;
	font-size:20px;
	margin-top:0px;
}
.arrivals li{
	width:212px;
	background:#fff;
	float:left;
	margin-bottom:20px;
	text-align:center;
	margin-right:20px;
	border:1px solid #fff;
	display:inline-block;
	padding-bottom:20px;
}
.arrivals li:hover{
	border:1px solid #e1e1e1;
}
.productinner{
	text-align:center;
	margin-top:20px;
	position:relative;
	margin-bottom:20px;
}
.newlabel{
	background:#e8a599;
	color:#fff;
	font-size:11px;
	text-transform:uppercase;
	padding:4px;
	position:absolute;
	right:23px;
	top:-7px;
}
.arrivals > li > dl{
	margin-bottom:10px;
}
.arrivals > li > dl > dt > a, .arrivals-lsting > li > dl > dt > a{
	color:#232222;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
}
.arrivals > li > dl > dd, .arrivals-lsting > li > dl > dd{
	color:#e8543a;
	font-size:12px;
	margin-top:2px;
}
.rupee{
	font-family:"rupee Foradian";
}
.cart{
	background:#e8543a;
	border:0;
	color:#fff;
	text-transform:uppercase;
	font-size:12px;
	padding:10px 20px;
}
.cart:hover{
	color:#fff;
}
.glyphicon-heart-empty, .glyphicon-refresh, .glyphicon-share-alt, .glyphicon-heart, glyphicon-refresh {
	font-size:14px;
	color:#666666;
	font-weight:100;
	content:'';
	margin-right:5px;
	cursor:pointer;
}
.price{
	font-size:12px;
}
.arrivals li:nth-last-child(1){
	margin-right:0px;
}

#featured-bg{
	background:url(../images/featured-bg.jpg) center top/cover no-repeat;
	height:100%;
	padding:48px 0;
}
#footer-bg{
	background:url(../images/footer-bg.jpg) center bottom/cover no-repeat;
	height:100%;
}
.footer-menu{
	float:left;
}
.footermenu{
	margin:0;
	padding:0;
}
.footermenu li a{
	font-size:12px;
	color:#dedede;
	line-height:20px;
}
.footermenu li a:hover{
	color:#e8543a;
}
.subscribe-mail{
	border-radius:0px;
	background:none;
	border:1px solid #504568;
	padding:7px;
	font-size:12px;
	color:#fff;
	height:33px;
}
.subscribe-btn{
	background:#e8543a;
	border-radius:0px;
	border:1px solid #e8543a;
	color:#fff;
	font-weight:bold;
	font-size:12px;
	padding:7px 12px;
}
.subscribe-btn:hover{
	color:#e8543a;
}
hr.footer{
	border-top:1px solid #342d45;
	margin-bottom:25px;
}
.guarantee li{
	float:left;
	margin-right:10px;
}
.guarantee li:last-child{
	margin-right:0px;
}
.payment-label{
	font-size:14px;
	color:#fff;
	font-weight:bold;
	float:left;
	margin-right:20px;
	margin-top:5px;
}
.card{
	margin:0;
	padding:0;
}
.card li{
	float:left;
	margin-right:3px;
	margin-bottom:10px;
	margin-bottom:2px;
}
.card li:last-child{
	margin-right:0px;
}
.social{
	margin-top:30px;
	float:left;
}
.twitter, .youtube, .facebook, .google, .linkedin, .pinterest{
	background:url(../images/social-icon.png) 0 0 no-repeat;
	width:26px;
	height:26px;
	float:left;
	margin-right:5px;
}
.youtube{
	background:url(../images/social-icon.png) -32px 0 no-repeat;
}
.facebook{
	background:url(../images/social-icon.png) -65px 0 no-repeat;
}
.google{
	background:url(../images/social-icon.png) -97px 0 no-repeat;
}
.linkedin{
	background:url(../images/social-icon.png) -130px 0 no-repeat;
}
.pinterest{
	background:url(../images/social-icon.png) -162px 0 no-repeat;
}
.search-icon{
	position: absolute;
	right: 20px;
	top: 14px;
	content: "";
	color: #fff;
	font-size:14px;
	cursor:pointer;
}
.footer-bot{
	background:#000;
}
.copyright{
	color:#5f5f5f;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	padding:15px 0;
	margin:0;
}
@media (min-width:768px){
	.footer-mt60{margin-top:60px;}
	.navigation{
		width:100%;
		position:absolute;
		top:37px;
		z-index:1;
	}
	
}
@media (max-width:767px){
	.navbar-default .navbar-collapse{
		background:#000;
	}
	.navbar-form{
		padding:8px 25px 8px 37px;
	}
	.search-icon{
		position: absolute;
		right: 16px;
		top: 14px;
		content: "";
		color: #fff;
		font-size:14px;
		cursor:pointer;
	}
	.navigation{
		margin-top: -120px;
	}
	
}

@media (min-width:1170px){
	.subscribe-lg{width:19%;}
	.social-lg{margin-left:-15px; margin-right:-15px;}
}
@media (max-width:360px){
	.toprightnav{float:left !important;}
}
@media (min-width:320px){
	.innerbanner-xs{
		background-position: top center;
		height:100%;
		width:100%;
		min-height: 125px;
	}
}

.list-group{
	position:relative;
	top:0;
}
.list-group-item{
	border:1px solid #dcdcdc;
	color:#5f5f5f;
	font-size:16px;
	text-transform:capitalize;
	margin-bottom:-2px;
}
.list-group-item:before{
	content:'>';
	font-size:14px;
	font-weight:600;
}

.list-group-item a{
	color:#5f5f5f;
	font-size:16px;
	text-transform:capitalize;
	transition:all 0.5s ease;
	padding-left:10px;
}
.list-group-item a:hover{
	color:#e8543a;
	padding-left:20px;
}
.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group-item:last-child {
    margin-bottom: 0px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.arrivals-lsting li{
	background:#fff;
	margin-bottom:20px;
	text-align:center;
	border:1px solid #fff;
	display:inline-block;
}
.arrivals-lsting li:hover{
	border:1px solid #e1e1e1;
}
.plus{
	float:right;
	content:'';
	color:#e8543a;
	font-size:14px;
	font-weight:100;
	cursor:pointer;
}
.crumb{
	background:#f4f4f4;
	padding:10px;
}
.crumb li{
	display:inline-block;
}
.crumb li a{
	font-size:14px;
	color:#000;
}
.crumb > li + li:before{
	content:'>';
	padding:0 5px;
	font-size:14px;
	color:#000;
}
.crumb li:last-child a{
	color:#e8543a;
	font-size:14px;
	cursor:default;
}
.crumb li a:hover{
	color:#e8543a;
}

/*.product-view{
	background:#000;
}*/
/*.view{
	float:left;
}*/
.view li{
	border:1px solid #d9d9d9;
	margin-bottom:7px;
	padding:5px;
	display:inline-block;
	cursor:pointer;
}
.full-view{
	text-align:center;
}
.new-product{
	top: 0px;
	right: 0px;
}
.cart-detail{
	background:#f6f6f6;
	padding:20px;
}
.cart-tittle{
	margin-top:0px;
	font-size:32px;
	color:#000;
	font-weight:900;
	margin-bottom:10px;
}
.cart-hr{
	border-color:#d6d6d6;
	margin-bottom:10px;
	margin-top:10px;
}
.cart-detail p{
	font-size:14px;
	color:#000;
}
.product-detail{
	line-height:22px;
	display:inline-table;
}
.fs14{
	font-size:14px;
}
.fs36{
	font-size:36px !important;
}
.mr138{
	margin-right:138px;
}
.mt17{
	margin-top:17px;
}
.add-cart{
	background:#e8543a;
	text-align:center;
	text-transform:uppercase;
	color:#fff;
	font-size:24px;
	padding:10px 0px;
	border:0;
	width:100%;
}
.no-of-cart{
	border:0;
	height:52px;
	background:none;
	color:#000;
	font-size:30px;
	padding:0;
}
.cart-btn{
	border:1px solid #e8543a;
	height:54px;
}
.add, .sub{
	font-size:35px;
	color:#e8543a;
	font-weight:100;
	padding:0px 12px;
	background:none;
	outline:none !important;
}
.mt10{
	margin-top:10px;
}
.detail-tab{
	padding-bottom:9px;
	border-bottom:1px solid #f4f4f4;
	margin-bottom:20px;
}
.detail-tab a{
	color:#000;
	font-size:20px;
	text-transform:uppercase;
	padding:10px;
}
.detail-tab a + a{
	margin-left:20px;
}
.detail-tab a:hover, .detail-tab a:focus{
	background:none;
	color:#e8543a;
	border:0;
	text-decoration:none;
	border-bottom:1px solid #000;
}
.detail-tab a.active{
	color:#e8543a;
}
.detail-menu li{
	line-height:22px;
	font-size:12px;
	color:#000;
	font-weight:100;
}
.product-filter{
	background:#f4f4f4;
	display:inline-block;
	width:100%;
	padding:10px;
}
.display, .product-compare{
	float:left;
	margin-right:20px;
}
.limit, .sort{
	float:right;
	margin-left:20px;
}
.display > a > .glyphicon-list{
	content:'';
}
.pagination{
	background:#f4f4f4;
	width:100%;
	padding:10px;
	border-radius:0;
}
.results{
	text-align:right;
	font-size:14px;
	font-weight:600;
}
.wishlist, .compare{
	display:inline;
	margin-right:20px;
}
.continue-btn, .back-btn{
	background:#e8543a;
	color:#fff;
	text-align:center;
	padding:8px 20px;
	font-size:14px;
	text-transform:uppercase;
	border:0;
	display:inline-block;
}
.apply-btn{
	background:#e8543a;
	color:#fff;
	text-align:center;
	padding:5px 20px;
	font-size:14px;
	text-transform:uppercase;
	border:0;
	display:inline-block;
}
.continue-btn:hover, .back-btn:hover{
	color:#fff;
}
.login{
	height:30px;
	border:1px solid #CBCACA;
	margin-top:5px;
}
.login-bg{
	background:#f4f4f4;
	padding:0px 20px 30px;
}
.fs26{
	font-size:26px;
}
.required, .error{
	color:#F00;
}
td{
	padding:10px;
	font-size:14px;
}
.list li a{
	font-size:14px;
	line-height:28px;
}
.list li a:hover{
	color:#e8543a;
}
.product-name{
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
.radio input[type="radio"]{
	margin-left:0px;
}
.ml130{
	margin-left:130px;
}
.checkout-heading{
	background:#f4f4f4;
	padding:10px;
	border: 1px solid #E0DFDF;
	margin-bottom: -1px;
}
.success{
	position: absolute;
	right: 106px;
	background: #fff;
	height: 20px;
	top: 42px;
	padding: 0px 20px;
}
/*.close{
	margin-top: 6px;
	margin-left: 20px;
	opacity:1;
}*/	
.remove-btn{
	background:#e8543a;
	color:#fff;
	text-align:center;
	padding:5px 20px;
	font-size:14px;
	text-transform:uppercase;
	border:0;
	display:inline-block;
}
.hilight{
	color:#e8543a !important;
}
.cart-icon{
	position:relative;
}
.count{
	position: absolute;
	top: -7px;
	right: -9px;
	background: #f00;
	color: #fff;
	font-size: 9px;
	padding: 3px;
	border-radius: 7px;
	text-align: center;
}