a{outline:none; text-decoration:none;}
li, a:hover{text-decoration:none; list-style-type:none;}
img{outline:none; border:none;}
button:focus, img:focus, a:focus{outline:none;}
ul{margin:0; padding:0;}
body{font-family: 'PT Sans', sans-serif; font-size:14px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

@font-face {
    font-family: rupee Foradian;
    src: url(../fonts/Rupee_Foradian.ttf);
}

.p0{padding:0px;}
.m0{margin:0px !important;}
.mb48{margin-bottom:48px;}
.mb18{margin-bottom:18px;}
.mb28{margin-bottom:28px;}
.mb20{margin-bottom:20px;}
.mt33{margin-top:33px;}
.mt25{margin-top:25px;}
.mlr0{margin-left:0px; margin-right:0px;}
.m0auto{margin:0 auto;}
.mr44{margin-right:44px;}
.mr35{margin-right:35px;}
.mr30{margin-right:30px;}

.topnav{
	background:#000;
}
.topleftnav{
	margin:0;
	padding:0;
}
.topleftnav li a{
	color:#cccccc;
	padding:10px;
	float:left;
	font-size:12px;
	font-weight:600;
}
.topleftnav li:nth-last-child(2):after{
	content:'|';
	color:#8c8c8c;
	float:left;
	padding-top:10px;
}
.topleftnav li a:hover, .topleftnav li a.active{
	background:#303030;
	color:#fff;
}
.toprightnav{
	margin:0;
	padding:0;
}
.toprightnav li{
	float:left;
	padding:10px 0px;
        /* color: #E45339; */
}
.toprightnav li a{
	color:#fff;
	font-size:12px;
	font-weight:600;
}
.clrorg{
	color:#e8543a !important;
}
.clrwht{
	color:#fff !important;
}
.toprightnav li:after{
	content:'|';
	color:#8c8c8c;
	padding:0px 10px;
}
.toprightnav li:nth-last-child(1):after{
	content:'';
}
#banner{
	width:100%;
}
.bannerbg{
	width:100%;
}
/*.inner-banner{
	background-position: top center;
	height:100%;
	width:100%;
	min-height: 160px;
}*/
/*.navigation{
	width:100%;
	position:absolute;
	top:0;
	z-index:1;
}*/
.nav-tranparent{
	background:none;
	border:none;
	margin-top:25px;
}
.nav-tranparent .navbar-nav li a{
	font-size:16px;
	font-weight:bold;
	padding:10px 22px;
	color:#fff;
	text-transform:uppercase;
	outline:none;
	/*margin-bottom:7px;*/
	/*margin-bottom:7px;*/
	/*float:left;*/
}
.navbar-nav li a:after{
	background:#e8543a;
	width:10px;
	height:10px;
	content:'';
	text-align:center;
	position:absolute;
	bottom:-5px;
	right:35px;
	transform:rotate(45deg);
	text-align:center;
	display:none;
}
.nav-tranparent .navbar-nav li a:hover {
	background:#e8543a;
	color:#fff;
	border-radius:1px;
	/*background:#333 url(../images/menu-arrow.png) center 36px no-repeat;*/
	margin-bottom:7px;
}
.nav-tranparent .navbar-nav li:hover {
	background:url(../images/menu-arrow.png) center 40px no-repeat;
}





/*.nav-tranparent .navbar-nav li a:hover{
	color:#939a96;
}*/
hr{
	border-top: 1px solid #939a96;
	margin-top:34px;
	margin-bottom:0px;
}
.nav-search input[type="text"]{
	background:none;
	border:1px solid #a2a2a2;
	border-radius:0;
	color:#fff;
	padding:6px 16px 6px 10px;
	height:28px;
	font-size:12px;
}
/*input[placeholder]{
	color:#dedede;
}*/
#search::-webkit-input-placeholder, #email::-webkit-input-placeholder {
    color:    #dedede;
	font-style:italic;
	text-transform:uppercase;
}
#search:-moz-placeholder, #email:-moz-placeholder {
    color:    #dedede;
	font-style:italic;
	text-transform:uppercase;
}
#search::-moz-placeholder, #email::-moz-placeholder {
    color:    #dedede;
	font-style:italic;
	text-transform:uppercase;
}
#search:-ms-input-placeholder, #email:-ms-input-placeholder {
    color:    #dedede;
	font-style:italic;
	text-transform:uppercase;
}

.arrivals{
	width:100%;
	margin:0px auto;
	padding:0px;
}
.tittle{
	font-weight:bold;
	font-size:20px;
	margin-top:0px;
}
.arrivals li{
	width:212px;
	background:#fff;
	float:left;
	margin-bottom:20px;
	text-align:center;
	margin-right:20px;
	border:1px solid #fff;
	display:inline-block;
	padding-bottom:20px;
	border:1px solid #e1e1e1;
}
.arrivals li:hover{
	border:1px solid #e1e1e1;
}
.productinner{
	text-align:center;
	margin-top:10px;
	position:relative;
	margin-bottom:10px;
}
.newlabel{
	background:#e8a599;
	color:#fff;
	font-size:11px;
	text-transform:uppercase;
	padding:2px;
	position:absolute;
	right:23px;
	top:10px;
}
.arrivals > li > dl{
	margin-bottom:5px;
}
.arrivals > li > dl > dt > a, .arrivals-lsting > li > dl > dt > a,.aProductName{
	color:#232222;
	font-size:14px;
	font-weight:bold;
	text-transform:uppercase;
}
.arrivals > li > dl > dd, .arrivals-lsting > li > dl > dd{
	/*color:#e8543a;*/
	font-size:12px;
	margin-top:6px;
}
.rupee{
	font-family:"rupee Foradian";
}
.cart-btn{
	background:#e8543a;
	border:0;
	color:#fff;
	text-transform:uppercase;
	font-size:12px;
	padding:10px 20px;
}
.cart-btn:hover{
	color:#fff;
}
.glyphicon-heart-empty, .glyphicon-refresh, .glyphicon-share-alt, .glyphicon-heart, glyphicon-refresh {
	font-size:14px;
	color:#666666;
	font-weight:100;
	content:'';
	margin-right:5px;
	cursor:pointer;
}
.price{
	font-size:12px;
}
.arrivals li:nth-last-child(1){
	margin-right:0px;
}

#featured-bg{
	background:url(../images/featured-bg.jpg) center top/cover no-repeat;
	height:100%;
	padding:48px 0;
}
#footer-bg{
	background:url(../images/footer-bg.jpg) center bottom/cover no-repeat;
	height:100%;
}
.footer-menu{
	float:left;
}
.footermenu{
	margin:0;
	padding:0;
}
.footermenu li a{
	font-size:12px;
	color:#dedede;
	line-height:20px;
}
.footermenu li a:hover{
	color:#e8543a;
}
.subscribe-mail{
	border-radius:0px;
	background:none;
	border:1px solid #504568;
	padding:7px;
	font-size:12px;
	color:#fff;
	height:33px;
}
.subscribe-btn{
	background:#e8543a;
	border-radius:0px;
	border:1px solid #e8543a;
	color:#fff;
	font-weight:bold;
	font-size:12px;
	padding:7px 12px;
}
.subscribe-btn:hover{
	color:#e8543a;
}
hr.footer{
	border-top:1px solid #342d45;
	margin-bottom:15px;
}
.guarantee li{
	float:left;
	margin-right:10px;
}
.guarantee li:last-child{
	margin-right:0px;
}
.payment-label{
	font-size:14px;
	color:#fff;
	font-weight:bold;
	float:left;
	margin-right:20px;
	margin-top:5px;
}
.card{
	margin:0;
	padding:0;
}
.card li{
	float:left;
	margin-right:2px;
	margin-bottom:10px;
	margin-bottom:2px;
}
.card li:last-child{
	margin-right:0px;
}
.social{
	margin-top:30px;
	float:left;
}
.twitter, .youtube, .facebook, .google, .linkedin, .pinterest{
	background:url(../images/social-icon.png) 0 0 no-repeat;
	width:26px;
	height:26px;
	float:left;
	margin-right:5px;
}
.youtube{
	background:url(../images/social-icon.png) -32px 0 no-repeat;
}
.facebook{
	background:url(../images/social-icon.png) -65px 0 no-repeat;
}
.google{
	background:url(../images/social-icon.png) -97px 0 no-repeat;
}
.linkedin{
	background:url(../images/social-icon.png) -130px 0 no-repeat;
}
.pinterest{
	background:url(../images/social-icon.png) -162px 0 no-repeat;
}
.search-icon{
	position: absolute;
	right: 20px;
	top: 14px;
	content: "";
	color: #fff;
	font-size:14px;
	cursor:pointer;
}
.footer-bot{
	background:#000;
}
.copyright{
	color:#5f5f5f;
	font-size:12px;
	font-weight:bold;
	text-align:center;
	padding:15px 0;
	margin:0;
}
@media (min-width:768px){
	.footer-mt60{margin-top:60px;}
	.navigation{
		width:100%;
		position:absolute;
		top:37px;
		z-index:9999;
	}
	
}
@media (max-width:767px){
	.navbar-default .navbar-collapse{
		background:#000;
	}
	.navbar-form{
		padding:8px 25px 8px 37px;
	}
	.search-icon{
		position: absolute;
		right: 16px;
		top: 14px;
		content: "";
		color: #fff;
		font-size:14px;
		cursor:pointer;
	}
	.navigation{
		margin-top: -120px;
	}
	
}

@media (min-width:1170px){
	.subscribe-lg{width:19%;}
	.social-lg{margin-left:-15px; margin-right:-15px;}
}
@media (max-width:360px){
	.toprightnav{float:left !important;}
}
@media (min-width:320px){
	.innerbanner-xs{
		background-position: top center;
		height:100%;
		width:100%;
		min-height: 125px;
	}
}

.list-group{
	position:relative;
	top:0;
}
.list-group-item{
	border:1px solid #dcdcdc;
	color:#5f5f5f;
	font-size:16px;
	text-transform:capitalize;
	margin-bottom:-2px;
}
.list-group-item:before{
	content:'>';
	font-size:14px;
	font-weight:600;
}

.list-group-item a{
	color:#5f5f5f;
	font-size:16px;
	text-transform:capitalize;
	transition:all 0.5s ease;
	padding-left:10px;
}
.list-group-item a:hover{
	color:#e8543a;
	padding-left:20px;
}
.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.list-group-item:last-child {
    margin-bottom: 0px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.arrivals-lsting li{
	background:#fff;
	margin-bottom:20px;
	text-align:center;
	border:1px solid #fff;
	display:inline-block;
	border:1px solid #e1e1e1;
	margin-right:10px;
}
.arrivals-lsting li:hover{
	border:1px solid #e1e1e1;
}
.plus{
	float:right;
	content:'';
	color:#e8543a;
	font-size:14px;
	font-weight:100;
	cursor:pointer;
}
.crumb{
	/*background:#f4f4f4;*/
	padding:10px;
	margin-top:-100px;
}
.crumb li{
	display:inline-block;
}
.crumb li a{
	font-size:14px;
	color:#fff;
}
.crumb > li + li:before{
	content:'>';
	padding:0 5px;
	font-size:14px;
	color:#fff;
}
.crumb li:last-child a{
	color:#e8543a;
	font-size:14px;
	cursor:default;
}
.crumb li a:hover{
	color:#e8543a;
}

.dvproduct-view{
	margin-bottom: 15px;
}
/*.view{
	float:left;
}*/
.view li{
	border:1px solid #d9d9d9;
	margin-bottom:7px;
	/*padding:5px;*/
	display:inline-block;
	cursor:pointer;
}
.full-view{
	text-align:center;
}
.new-product{
	top: 0px;
	right: 0px;
}
.cart-detail{
	background:#f6f6f6;
	padding:20px;
	border:solid 1px #f4f4f4;
	}
.cart-detail  h1{
	font-weight:600;
	margin-top:0;
}
.cart-tittle{
	margin-top:0px;
	font-size:32px;
	color:#000;
	font-weight:900;
	margin-bottom:10px;
}
.cart-hr{
	border-color:#d6d6d6;
	margin-bottom:10px;
	margin-top:10px;
}
.cart-detail p, .cart-detail a{
	font-size:14px;
	color:#000;
}
.product-detail{
	line-height:22px;
	display:inline-table;
}
.fs14{
	font-size:14px;
}
.fs36{
	font-size:36px !important;
}
.mr138{
	margin-right:138px;
}
.mt17{
	margin-top:17px;
}
.add-cart{
	background:#e8543a;
	text-align:center;
	text-transform:uppercase;
	color:#fff;
	font-size:24px;
	padding:10px 0px;
	border:0;
	width:100%;
	border: solid 1px #D96109;
}

.buy-cart{
	background:#46913E;
	text-align:center;
	text-transform:uppercase;
	color:#fff;
	font-size:24px;
	padding:10px 0px;
	border:0;
	width:100%;
	border: solid 1px #0F8604;
	
}


.no-of-cart{
	border:0;
	height:52px;
	background:none;
	color:#000;
	font-size:30px;
	padding:0;
	text-align:center;
}
.cart-add-btn{
	border:1px solid #e8543a;
	height:54px;
}
.add, .sub{
	font-size:35px;
	color:#e8543a;
	font-weight:100;
	padding:0px 12px;
	background:none;
	outline:none !important;
}
.mt10{
	margin-top:10px;
}
.detail-tab{
	padding-bottom:9px;
	border-bottom:1px solid #f4f4f4;
	margin-bottom:20px;
}
.detail-tab a{
	color:#e8543a;
	font-size:20px;
	text-transform:uppercase;
	padding:10px 0;
}
.detail-tab a + a{
	margin-left:20px;
}
.detail-tab a:hover, .detail-tab a:focus{
	background:none;
	color:#000;
	border:0;
	text-decoration:none;
	border-bottom:1px solid #e8543a;
}
.detail-tab a.active{
	color:#e8543a;
}
.detail-menu li{
	line-height:22px;
	font-size:12px;
	color:#000;
	font-weight:100;
}
.product-filter{
	background:#f4f4f4;
	/*display:inline-block;
	width:100%;*/
	padding:10px;
}
.display, .product-compare{
	float:left;
	margin-right:20px;
}
.limit, .sort{
	float:right;
	margin-left:20px;
}
.display > a > .glyphicon-list{
	content:'';
}
.pagination{
	background:#f4f4f4;
	width:100%;
	padding:10px;
	border-radius:0;
}
.results{
	text-align:right;
	font-size:14px;
	font-weight:600;
}
.wishlist, .compare{
	display:inline;
	/*margin-right:20px;*/
}
.continue-btn, .back-btn, .payment > .buttons > .right > .button, .buttons > .right > .button{
	background:#e8543a;
	color:#fff;
	text-align:center;
	padding:5px 15px;
	font-size:12px;
	text-transform:uppercase;
	border:0;
	display:inline-block;
}



.removec-btn{
	background:#333333;
	color:#fff;
	text-align:center;
	padding:5px 15px;
	font-size:12px;
	text-transform:uppercase;
	border:0;
	display:inline-block;
}

.removec-btn:hover{
	background:#0B0B0B;
	color:#fff;
	text-align:center;
	padding:5px 15px;
	font-size:12px;
	text-transform:uppercase;
	border:0;
	display:inline-block;
}



.apply-btn{
	background:#e8543a;
	color:#fff;
	text-align:center;
	padding:5px 20px;
	font-size:14px;
	text-transform:uppercase;
	border:0;
	display:inline-block;
}
.continue-btn:hover, .back-btn:hover{
	color:#fff;
}
.login{
	height:30px;
	border:1px solid #CBCACA;
	margin-top:5px;
	padding: 4px;
}
.login-bg{
	background:#f4f4f4;
	padding:0px 20px 30px;
}
.fs26{
	font-size:26px;
}
.required, .error{

     color:#F00;
     margin-left: 3px;
     font-size: 12px;

}
td{
	/*padding:10px;*/
	font-size:14px;
}
.list li a{
	font-size:14px;
	line-height:28px;
}
.list li a:hover{
	color:#e8543a;
}
.product-name{
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}
.radio input[type="radio"]{
	margin-left:0px;
}
.ml130{
	margin-left:130px;
}
.checkout-heading{
	background:#f4f4f4;
	padding:10px;
	border: 1px solid #E0DFDF;
	margin-bottom: -1px;
	font-size:14px;
}
/*.success{
	position: absolute;
	right: 106px;
	background: #fff;
	height: 20px;
	top: 42px;
	padding: 0px 20px;
}*/


#notification
{
	
width: 100%;
position: relative;
/* height: 30px; */	
	
	
}


#notification >.success
{
position: absolute;
left: 33%;
background: #F9FCF6;
/* height: 20px; */
/* top: 42px; */
padding: 5px;
border: solid 1px #f4f4f4;
border-radius: 5px;
top: -20px;	
z-index:9;
	
}
.success
{
	color:#009100;
	font-size:14px;
	text-align:center;
}

.review-list > .text
{
	font-size:14px;
	padding:5px;
}
.infocontact span
{
	display:block;
	clear:both;
}
.f14
{
	font-size:14px;
}
.ml100
{
	margin-left:100px;
}
.cred
{
	color:#F00;
}


/*.close{
	margin-top: 6px;
	margin-left: 20px;
	opacity:1;
}*/	
.remove-btn{
	background:#e8543a;
	color:#fff;
	text-align:center;
	padding:5px 20px;
	font-size:14px;
	text-transform:uppercase;
	border:0;
	display:inline-block;
}
.hilight{
	color:#e8543a !important;
}
.cart-icon{
	position:relative;
}
.count{
	position: absolute;
	top: -7px;
	right: -9px;
	background: #f00;
	color: #fff;
	font-size: 9px;
	padding: 3px;
	border-radius: 7px;
	text-align: center;
}
.alert-warning{
	background:#CC6;
	border:1px solid #B6B609;
	padding:10px;
	margin-top:20px;
	color:#000;
}
.contact-addr{
	font-size:16px;
}
.mega-menu{
	background:#fff;
	border:solid 1px #E4E1E1;
	/*position:absolute;
	left:0;
	margin-left: -416px;
	width: 705px;*/
}
.megamenu-left li ul li{
	line-height:22px;
	font-size:12px;
	width:115px !important;
	padding: 2px 4px !important;
	cursor: pointer;
}
.megamenu-left li ul li:hover{
	 
	background:#e8543a;
	color:#fff !important;
	cursor: pointer;
	color: #000 !important;

}


.megamenu-left li ul li a{
	color:#252525;
	/*padding:3px 60px 3px 5px !important;*/
	font-size:12px !important;
	font-weight:normal !important;
	text-transform:none !important;
}
.megamenu-header{
	font-size:16px !important;
	font-weight:bold !important;
	margin-top:20px !important;
	margin-bottom:7px;
}
.megamenu-header a:hover{
	background:none !important;
	color:#252525 !important;
	cursor:default;
}

/*.megamenu-left li ul li a:hover{
	color:#fff;
	background:#e8543a;
}*/



.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	position:absolute;
	left:0px;
	bottom:0px;
	background:#000;
	color:#fff;
	width:100%;
	z-index:8;
	padding: 5px 10px;
	opacity: 0.8;
	overflow: hidden;
	display: none;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align:center;
	/*padding: 15px 0;*/
	position:absolute;
	left:50%;
	top:600px;
	z-index:9999;
}
.nivo-controlNav a {
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}

.theme-default .nivoSlider {
	position:relative;
	background:#fff url(loading.gif) no-repeat 50% 50%;
    margin-bottom:10px;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	text-align: center;
	/*padding: 20px 0;*/
}
.theme-default .nivo-controlNav a {
	display:inline-block;
	width:22px;
	height:22px;
	background:url(../images/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin: 0 2px;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(../images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-default:hover .nivo-directionNav a { opacity: 1; }
.theme-default a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-default a.nivo-prevNav {
	left:15px;
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}
.list-product{
	float:left;
	margin-bottom:20px;
	margin-right:10px;
	margin-top:20px;
	border: solid 1px #f4f4f4;
	
	
}
.list-product >.name,.price,.cart{
	text-align:center;
	
	
	
}
.list-product >.wishlist{
	margin-left:20px;
	
	
	
}
a{
	cursor:pointer;
}
.sec-nav{
	background:url(../images/sec-nav.jpg) no-repeat;
}
.inner-cont{
	margin-bottom:48px;
}
.inner-cont p{
	font-size:14px;
}
.inner-cont h1{
	text-transform:uppercase;
	margin-bottom:20px;
	margin-top:53px;
}
.inner-cont h2{
	color:#e8543a;
	text-transform:uppercase;
}
dd > a{
	color:#666666;
}
.mt53{margin-top:53px;}
.mt20{margin-top:20px;}
.list li a{
	color:#5f5f5f;
}
.checkout-heading > a{
	float:right;
	color:#e8543a;
}
.name > a{
	color:#333;
}
.rewar
{
	color:#F00;
	margin-bottom:20px;
}
.rewar::before
{
	content:"* ";
}
	
.suc
{
	color:#368A2D;
}	



/* Base Styles */
#cssmenu,
#cssmenu ul,
#cssmenu li,
#cssmenu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'PT Sans', sans-serif;
  position: relative;
  
  border: 1px solid #dcdcdc;
color: #5f5f5f;
font-size: 16px;
text-transform: capitalize;
margin-bottom: -2px;
  
  
}
#cssmenu {
  /*width: 250px;*/
 /* border-bottom: 4px solid #656659;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;*/
  margin-bottom:15px;
}
#cssmenu a {
  line-height: 1.3;
 color: #5f5f5f;
 border:none;
}
/*#cssmenu > ul > li:first-child {
  background: #66665e;
  background: -moz-linear-gradient(#66665e 0%, #45463d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66665e), color-stop(100%, #45463d));
  background: -webkit-linear-gradient(#66665e 0%, #45463d 100%);
  background: linear-gradient(#66665e 0%, #45463d 100%);
  border: 1px solid #45463d;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#cssmenu > ul > li:first-child > a {
  padding: 15px 10px;
  background: url(images/pattern.png) top left repeat;
  border: none;
  border-top: 1px solid #818176;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  text-shadow: 0 -1px 1px #000000;
}
#cssmenu > ul > li:first-child > a > span {
  padding: 0;
}
#cssmenu > ul > li:first-child:hover {
  background: #66665e;
  background: -moz-linear-gradient(#66665e 0%, #45463d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66665e), color-stop(100%, #45463d));
  background: -webkit-linear-gradient(#66665e 0%, #45463d 100%);
  background: linear-gradient(#66665e 0%, #45463d 100%);
}*/
#cssmenu > ul > li {
 /* background: #e94f31;
  background: -moz-linear-gradient(#e94f31 0%, #d13516 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e94f31), color-stop(100%, #d13516));
  background: -webkit-linear-gradient(#e94f31 0%, #d13516 100%);
  background: linear-gradient(#e94f31 0%, #d13516 100%);*/
}
#cssmenu > ul > li:hover {
 /* background: #e84323;
  background: -moz-linear-gradient(#e84323 0%, #c33115 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e84323), color-stop(100%, #c33115));
  background: -webkit-linear-gradient(#e84323 0%, #c33115 100%);
  background: linear-gradient(#e84323 0%, #c33115 100%);*/
}
#cssmenu > ul > li > a {
  font-size: 14px;
  display: block;
  border:none;
  background: url(../images/pattern.png) top left repeat;
   color: #5f5f5f;
   font-size:16px;
   transition:all 1s;
 /* border: 1px solid #ba2f14;
  border-top: none;
  text-shadow: 0 -1px 1px #751d0c;*/
}
#cssmenu > ul > li > a > span {
  display: block;
  padding: 12px 25px;
/*  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;*/
}
#cssmenu > ul > li > a:before {
	content:">";
	 position: absolute;
  left: 10px;
  top:14px;
  
}
#cssmenu > ul > li > a:hover {
  text-decoration: none;
  padding-left:20px;
  color:#e8543a;
}
#cssmenu > ul > li.active {
  border-bottom: none;
}
#cssmenu > ul > li.has-sub > a span {
  background: url(../images/icon_plus.png) 96% center no-repeat;
}
#cssmenu > ul > li.has-sub.active > a span {
  background: url(../images/icon_minus.png) 96% center no-repeat;
}
/* Sub menu */
#cssmenu ul ul {
  display: none;
  background: #fff;
  border:none !important;
  margin-left:20px;

}
#cssmenu ul ul li {
  padding: 0;
  border:none;
 /* border-bottom: 1px solid #d4d4d4;
  border-top: none;
  background: #f7f7f7;
  background: -moz-linear-gradient(#f7f7f7 0%, #ececec 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #ececec));
  background: -webkit-linear-gradient(#f7f7f7 0%, #ececec 100%);
  background: linear-gradient(#f7f7f7 0%, #ececec 100%);*/
}
#cssmenu ul ul li:last-child {
  border-bottom: none;
}
#cssmenu ul ul a {
  padding: 10px 10px 10px 25px;
  display: block;
  color: #676767;
  font-size: 14px;
  font-weight: normal;
  border:none;
}
#cssmenu ul ul a:before {
  content: "»";
  position: absolute;
  left: 10px;
  color: #e94f31;
}
#cssmenu ul ul a:hover {
  color: #e94f31;
}
.tabselected
{
	border-bottom: 1px solid #e8543a;
}
.cps{
	text-transform: uppercase;
}
.mr10{
	  margin-right: 10px;
}

/********************************************************************************************************************/
.thumbnail
{
border-radius:0;
}
.imgFooterLogo
{
margin-bottom:20px;
margin-left:0;
}
.aName
{
color:#666;
padding-bottom:5px;
}
.thumbnail a
{
	 word-wrap: break-word;
}
.dvSearchProdfilter
{
	margin-bottom: 15px;
}
.toprightnavRes
{
	float: right;
}


/* Thumbnail View */

@media(max-width:319px)
{
	.dvthumbCategoryList
	{
		width:50%;
		
	}
	.dvthumbCategoryList a
	{
		font-size: 12px;
	}
}

@media(min-width:320px) and (max-width:424px)
{
	.dvthumbCategoryList
	{
		width:37%;
		margin:10px -7px !important;
	}
	.dvthumbCategoryList a
	{
		font-size: 12px;
	}
} 

@media(min-width:425px) and (max-width:620px)
{
	.dvthumbCategoryList
	{
		width:25%;
	}
	.dvthumbCategoryList a
	{
		font-size: 13px;
	}
}

/* Thumbnail View */


/* Header Part */

@media(min-width:992px) and (max-width:1200px)
{
	.dvHeaderNav li a 
	{
		padding: 10px 15px !important;
	}
	.dvHeaderSearch
	{
		width: 215px !important;
	}
	.txtHeaderSearch
	{
		width: 220px !important;
	}
}
@media(min-width:768px) and (max-width:991px)
{
		.dvHeaderNavLeft
	{
		width: 29%;
	}
	.dvHeaderResImage
	{
		width: 29%;
	}
	.dvHeaderNavRight
	{
		width: 42%;
		float: left !important; 
	}
	.dvHeaderNav li a 
	{
		padding: 10px 10px !important;
	}
	.dvHeaderSearch 
	{
		width: 75px !important;
	}
	.txtHeaderSearch
	{
		width: 170px !important;
	}
	.hdSearch .search-icon
	{
		right: -68px !important; 
	}
}

@media(min-width:820px) and (max-width:920px)
{
	.hdSearch
	{
		float: left !important;
	
	}
	.txtHeaderSearch 
	{
    	width: 130px !important;
	}
	.hdSearch .search-icon
	{
		right: -27px !important; 
	}
}
@media(min-width:768px) and (max-width:819px)
{
	.dvHeaderSearch {
    width: 75px !important;
}
	.txtHeaderSearch 
	{
    	width: 105px !important;
	}
	.hdSearch .search-icon
	{
		right: -9px !important; 
	}
}

/* Header Part */

@media(max-width:900px)
{
	.dvTblScroll
	{
		 overflow-x:scroll;
	}
}


@media(max-width:767px)
{
	.card li,.dvpayment-label
	{
		display:none;
	}
	.dvSocial
	{
	margin-left:25px;
	}
	.clsHdFooter
	{
		margin-top: 10px;
	}
	.dvProdDes-DetailTab > div
	{
		margin-bottom: 15px;
	}
	.dvLoginReg
	{
		float: left !important;
	}
	.dvRegContent
	{
		margin-bottom: 30px;
	}
	.spnAlertLogin
	{
		margin-top:20px !important;
		margin-right: 0 !important;
	}
	.imgRespLogo
	{
		max-width: 80% !important;
		margin-top:0 !important;
	}
}

@media(min-width:500px) and (max-width:767px)
{
	.dvRegContent .login, .dvPaymentNew .large-field
	{
		width: 50% !important;
	}
	.dvLoginReg 
	{
		width: 50%;
	}
}

@media(max-width:475px)
{
	.dvLimitSort
	{
		clear: both;float: left;margin-left: 0;margin-top: 10px;
	}
	.dvProductThumbnail
	{
		clear: left;width: 100%;
	}
	.cart-total table tr td 
	{
		float: left !important;
	}
	.toprightnavRes
	{
		clear: both;
		float: left !important;
	}
	.imgRespLogo
	{
		margin-top: -13px !important;
    	max-width: 80% !important;
	}
}

@media(max-width:360px)
{
	.dvCartNo,.dvCartButton
	{
		width: 100%;
	}	
	.dvCartButton
	{
		float: left !important;
    	margin-left: 0;
	}
}















